<h1>Listing reglas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Permitir</th>
    <th>Observaciones</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reglas.each do |regla| %>
  <tr>
    <td><%= regla.nombre %></td>
    <td><%= regla.permitir %></td>
    <td><%= regla.observaciones %></td>
    <td><%= link_to 'Show', regla %></td>
    <td><%= link_to 'Edit', edit_regla_path(regla) %></td>
    <td><%= link_to 'Destroy', regla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Regla', new_regla_path %>
