- content_for :other_includes do
  = javascript_include_tag 'jquery.chained'
  = javascript_include_tag 'reglas'

- content_for :title do
  Reglas de liquidacion - nuevo

#content-header
  %h1 Nueva regla de liquidación
  #action-links
    = link_to '<< Volver al listado', reglas_path

#content-body
  = render :partial => "shared/info", :locals => { :registro => @regla }

  = render 'form'
