<div class="nested-fields">
  <div class="xsmall-label"><%= f.text_field :nombre, {class: "xsmall-input" } %></div>
  <div class="xsmall-label"><%= f.text_field :tipo_postgres, {class: "xsmall-input" } %></div>
  <div class="xsmall-label"><%= f.text_field :tipo_ruby, {class: "xsmall-input" } %></div>
  <div class="xsmall-label"><%= f.text_field :enumerable, {class: "xsmall-input" } %></div>
  <div class="xsmall-label"><%= f.text_field :clase_para_enumeracion, {class: "xsmall-input" } %></div>
  <div class="xsmall-label"><%= link_to_remove_association "borrar", f %></div>
  <hr>
</div>