<div class="nested-fields">
  <%= collection_select :seccion_pdss, 
                        :seccion_pdss_id, 
                        SeccionPdss.all, 
                        :id, 
                        :nombre, 
                        f.object.grupo_pdss.present? ? {selected: f.object.grupo_pdss.seccion_pdss_id} : {}, 
                        {class: "small-input seccion-pdss-select" } 
  %>  
  <%= f.collection_select :grupo_pdss_id, 
                          f.object.grupo_pdss.present? ? f.object.grupo_pdss.seccion_pdss.grupos_pdss : SeccionPdss.first.grupos_pdss, 
                          :id, 
                          :nombre, 
                          {}, 
                          {class: "small-input grupo-pdss-select"} 
  %>  
  <%= f.collection_select :linea_de_cuidado_id, LineaDeCuidado.all, :id, :nombre, {}, {class: "small-input"} %> 
  <%= f.collection_select :tipo_de_prestacion_id, TipoDePrestacion.all, :id, :nombre, {}, {class: "small-input"} %>      
  <%= f.collection_select :modulo_id, Modulo.all, :id, :nombre, {}, {class: "small-input"} %>
  <%= link_to_remove_association "borrar", f %>

  <br>
</div>