<% content_for :title do %>
  Prestaciones
<% end %>

<div id="content-header">
  <h1>Prestaciones</h1>
  <div id="action-links"><%= link_to('Nueva Prestación', new_prestacion_path) if can? :create, Prestacion %> </div>  
</div>

<div id="content-body">
  <h1>Filtrar</h1>
  <%= form_tag(prestaciones_path, :method => "get") do %>
    <%= label_tag(:codigo, "Código:") %>
    <%= text_field_tag(:codigo) %>
    <%= submit_tag("Filtrar") %>
  <% end %> 
  <hr>
  <table>
    <tr>
      <th>Seccion / Grupo</th>
      <th>Línea de cuidado</th>
      <th>Tipo</th>
      <th>Nombre</th>
      <th>Código</th>
      <th>Diagnósticos</th>
      <th>Acciones</th>
    </tr>
    <%
      @secciones_grupo_pdss.each do |seccion_grupo_pdss|
        seccion_grupo_pdss_rowspan = true
    %>
      <% 
        seccion_grupo_pdss[:lineas_de_cuidado].each do |linea_de_cuidado| 
          linea_de_cuidado_rowspan = true
      %>
        <% linea_de_cuidado[:prestaciones].each do |prestacion| %>
          <tr>
            <% if seccion_grupo_pdss_rowspan 
                seccion_grupo_pdss_rowspan = false
            %>
              <td rowspan="<%= seccion_grupo_pdss[:prestaciones_count] %>"><%=  seccion_grupo_pdss[:nombre] %></td>
            <% end %>
            <% if linea_de_cuidado_rowspan 
              linea_de_cuidado_rowspan = false
            %>
              <td rowspan="<%= linea_de_cuidado[:prestaciones].count %>"><%= linea_de_cuidado[:nombre] %></td>
            <% end %>
            <td><%= prestacion.tipo_de_prestacion.nombre %></td>
            <td><%= prestacion.nombre_corto %></td>
            <td><%= prestacion.codigo %></td>
            <td>
              <% if prestacion.diagnosticos.count > 0 %>
                <% prestacion.diagnosticos.each do |diagnostico| %>
                  <%= diagnostico.codigo + ", " %>
                <% end %>
              <% else %>
                -------
              <% end %>          
            </td>
            <td>Acciones</td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </table>
  <%= will_paginate @prestaciones, :inner_window => 2, :outer_window => 0 %>
</div>
