%div.field  
  = dist.label(:nombre)
  = dist.text_field(:nombre) 

%div.field_content
  = dist.label(:codigo_postal)
  = dist.text_field(:codigo_postal)

%div.field_content
  = dist.label(:distrito_bio_id)
  = dist.text_field(:distrito_bio_id)

%div.field_content
  = dist.label(:distrito_indec_id) 
  = dist.text_field(:distrito_indec_id)
  
%div.field_content
  = dist.label(:distrito_insc_id) 
  = dist.text_field(:distrito_insc_id)

%div.field_content
  = dist.label(:alias_id) 
  = dist.text_field(:alias_id)