- content_for :title do
  Creación de una nueva prestación brindada

- content_for :other_includes do
  = javascript_include_tag 'prestaciones_brindadas'

#content-header
  %h1 Creación de una nueva prestación brindada

= render :partial => "shared/info", :locals => { :registro => @prestacion_brindada }

#content-body
  %h2.first-header-with-note Formulario de creación de una nueva prestación brindada
  %p.note Los campos marcados con asterisco (*) son obligatorios

  %h3 Clave única de beneficiario asociada a la prestación
  %div.field_content
    %span.field_value= @prestacion_brindada.clave_de_beneficiario

  %h3
    Datos más recientes sobre
    - if @beneficiario.sexo.codigo == 'F'
      la beneficiaria,
    - else
      el beneficiario,
    - if @beneficiario.is_a? NovedadDelAfiliado
      = link_to "según una solicitud de " + (@beneficiario.tipo_de_novedad.codigo == "A" ? "alta" : "modificación") + " pendiente", @beneficiario, |
        { :title => "Ver detalles de la solicitud en otra pestaña", :onclick => "this.target='_blank'" } |
    - else
      = link_to "según el registro en el padrón de beneficiarios", @beneficiario, |
        { :title => "Ver detalles del registro en otra pestaña", :onclick => "this.target='_blank'" } |

  %div.field_content
    %span.field_name Nombre
    %span.field_value= @beneficiario.nombre.to_s + " " + @beneficiario.apellido.to_s
  %div.field_content
    %span.field_name= "Documento " + @beneficiario.clase_de_documento.nombre.downcase
    %span.field_value= (@beneficiario.tipo_de_documento ? @beneficiario.tipo_de_documento.codigo  + " " : "") + |
      @beneficiario.numero_de_documento.to_s |
  %div.field_content
    %span.field_name Fecha de nacimiento
    %span.field_value= @beneficiario.fecha_de_nacimiento.strftime("%d/%m/%Y")

  %h3 Efector y fecha en que se brindó la prestación
  %div.field_content
    %span.field_name Efector*
    %span.field_value= @prestacion_brindada.efector.nombre
  %div.field_content
    %span.field_name Fecha de la prestación*
    %span.field_value= @prestacion_brindada.fecha_de_la_prestacion.strftime("%d/%m/%Y")

  = form_for(@prestacion_brindada) do |f|
    = f.hidden_field :clave_de_beneficiario, :value => @prestacion_brindada.clave_de_beneficiario
    = f.hidden_field :efector_id, :value => @prestacion_brindada.efector_id
    = f.hidden_field :fecha_de_la_prestacion, :value => @prestacion_brindada.fecha_de_la_prestacion

    #prestacion.field
      = f.label :prestacion_id, "Prestación*"
      = f.select :prestacion_id, options_for_select(@prestaciones, @prestacion_brindada.prestacion_id), |
        {:include_blank => true} |
    #diagnostico.field{:style => "display: none;"}
      = f.label :diagnostico_id, "Diagnóstico*"
      = f.select :diagnostico_id, options_for_select(@diagnosticos, @prestacion_brindada.diagnostico_id), {:include_blank => true}
    #cantidad_de_unidades.field{:style => "display: none;"}
      = f.label :cantidad_de_unidades, "Cantidad de unidades*"
      = f.text_field :cantidad_de_unidades, {:size => 6}
    #es_catastrofica.field{:style => "display: none;"}
      = f.label :es_catastrofica, "Es catastrófica*"
      = f.check_box :es_catastrofica

    %h3{:style => "display: none;"} Atributos reportables
    - @prestacion_brindada.datos_reportables_asociados.each_with_index do |dra, i|
      = f.fields_for :datos_reportables_asociados_attributes, :index => i do |dra_f|
        - if dra.dato_reportable.integra_grupo && dra.dato_reportable.orden_de_grupo == 1
          %h4{:style => "display: none;"}= dra.dato_reportable.nombre_de_grupo
        %div.field{:id => "dato_reportable_" + dra.dato_reportable_id.to_s, :style => "display: none;"}
          = dra_f.label :valor, dra.dato_reportable.nombre
          - case
            - when dra.dato_reportable.enumerable
              = dra_f.select :valor, options_from_collection_for_select( |
                eval(dra.dato_reportable.clase_para_enumeracion).find(:all, :order => :id), :id, :nombre), |
                eval(dra.dato_reportable.opciones_de_formateo || "{}").merge(:include_blank => true) |
            - when dra.dato_reportable.tipo_ruby == "Date"
              = dra_f.date_select :valor, eval(dra.dato_reportable.opciones_de_formateo || "{}").merge(:include_blank => true)
            - else
              = dra_f.text_field :valor, eval(dra.dato_reportable.opciones_de_formateo || "{}")

    %div.actions
      = f.submit "Crear la prestación"
      = link_to "Cancelar", root_url
