= form_for(@addenda) do |f|
  %div.hidden_field
    %input{ :id => "addenda_convenio_de_gestion_id", :name => "addenda[convenio_de_gestion_id]", |
      :type => "hidden", :value => @convenio_de_gestion.id } |

  %h3 Información general
  %div.field_content
    %span.field_name Adenda al convenio de gestión
    %span.field_value{:style => "background-color: #e0e0e0;"}= @convenio_de_gestion.numero
  %div.field_content
    %span.field_name El convenio pertenece al efector
    %span.field_value{:style => "background-color: #e0e0e0;"}= @convenio_de_gestion.efector.nombre
  %div.field
    = f.label :firmante
    = f.text_field :firmante
  %div.field
    = f.label :fecha_de_suscripcion
    = f.date_select :fecha_de_suscripcion
  %div.field
    = f.label :fecha_de_inicio
    = f.date_select :fecha_de_inicio

  %h3 Prestaciones que se autorizan a través esta adenda
  %div.field
    = f.select :prestacion_autorizada_alta_ids, |
      options_for_select(@prestaciones_alta, @prestacion_autorizada_alta_ids), {}, |
      { |
        :multiple => true, :size => 10, |
        :title => "Mantenga presionado 'Ctrl' al hacer clic para seleccionar varias opciones" |
      } |

  %h3 Prestaciones que se dan de baja a través de esta adenda
  %div.field
    = f.select :prestacion_autorizada_baja_ids, |
      options_for_select(@prestaciones_baja, @prestacion_autorizada_baja_ids), {}, |
      { |
        :multiple => true, :size => 10, |
        :title => "Mantenga presionado 'Ctrl' al hacer clic para seleccionar varias opciones" |
      } |

  %h3 Observaciones
  %div.field
    = f.text_area :observaciones, :size => "100x15"

  %div.actions
    - if @addenda.new_record?
      = f.submit "Crear la adenda"
    - else
      = f.submit "Modificar la adenda"
