.infobox-ok=(notice)

- content_for :title do
  Adenda al convenio de gestión
  = @addenda.convenio_de_gestion.numero
  suscrita el
  = @addenda.fecha_de_suscripcion.strftime("%d/%m/%Y")
  


%h1
  Adenda al convenio de gestión
  = @addenda.convenio_de_gestion.numero
  suscrita el
  = @addenda.fecha_de_suscripcion.strftime("%d/%m/%Y")
  
%ul{:id => "submenu"}
  - if can? :update, Addenda
    %li= link_to "Modificar esta adenda", edit_addenda_path(@addenda), :class => "drop"    
    
%p

%p
  La adenda al convenio
  %span.destacado= @addenda.convenio_de_gestion.numero
  fue suscrita entre la Unidad de Gestión del Seguro Provincial y el efector
  %span.destacado>= " " + @addenda.convenio_de_gestion.efector.nombre
  , el día
  %span.destacado>= " " + @addenda.fecha_de_suscripcion.strftime("%d/%m/%Y")
  , refrendado por el coordinador de la UGSP y
  - if @addenda.firmante then
    el/la referente del efector,
    %span.destacado>=  " " + @addenda.firmante
    \.
  - else
    el/la representante del efector.
%p
  La adenda
  - if @addenda.fecha_de_inicio.to_datetime > Time.now then
    entrará
  - else
    entró
  en vigencia el día
  %span.destacado>= " " + @addenda.fecha_de_inicio.strftime("%d/%m/%Y") + "."
- if @addenda.prestaciones_autorizadas_alta.any? then
  %h3 Prestaciones dadas de alta por la adenda
  %table
    %thead
      %tr
        %th Código
        %th Nombre
    %tbody
      - @addenda.prestaciones_autorizadas_alta.each do |a|
        %tr
          %td= a.prestacion.codigo
          %td= a.prestacion.nombre
- if @addenda.prestaciones_autorizadas_baja.any? then
  %h3 Prestaciones dadas de baja por la adenda
  %table
    %thead
      %tr
        %th Código
        %th Nombre
    %tbody
      - @addenda.prestaciones_autorizadas_baja.each do |b|
        %tr
          %td= b.prestacion.codigo
          %td= b.prestacion.nombre

- if @addenda.observaciones
  %h3 Información complementaria
  %p
    - @addenda.observaciones.split("\n").each do |l|
      = l
      %br/


