<%= form_for(@prestacion_incluida) do |f| %>
  <% if @prestacion_incluida.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prestacion_incluida.errors.count, "error") %> prohibited this prestacion_incluida from being saved:</h2>

      <ul>
      <% @prestacion_incluida.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :uad_nombre %><br />
    <%= f.text_field :uad_nombre %>
  </div>
  <div class="field">
    <%= f.label :efector_nombre %><br />
    <%= f.text_field :efector_nombre %>
  </div>
  <div class="field">
    <%= f.label :nomenclador_nombre %><br />
    <%= f.text_field :nomenclador_nombre %>
  </div>
  <div class="field">
    <%= f.label :prestacion_nombre %><br />
    <%= f.text_field :prestacion_nombre %>
  </div>
  <div class="field">
    <%= f.label :prestacion_codigo %><br />
    <%= f.text_field :prestacion_codigo %>
  </div>
  <div class="field">
    <%= f.label :prestacion_grupo_nombre %><br />
    <%= f.text_field :prestacion_grupo_nombre %>
  </div>
  <div class="field">
    <%= f.label :prestacion_subgrupo_nombre %><br />
    <%= f.text_field :prestacion_subgrupo_nombre %>
  </div>
  <div class="field">
    <%= f.label :prestacion_area_nombre %><br />
    <%= f.text_field :prestacion_area_nombre %>
  </div>
  <div class="field">
    <%= f.label :prestacion_cobertura %><br />
    <%= f.check_box :prestacion_cobertura %>
  </div>
  <div class="field">
    <%= f.label :prestacion_comunitaria %><br />
    <%= f.check_box :prestacion_comunitaria %>
  </div>
  <div class="field">
    <%= f.label :prestacion_requiere_hc %><br />
    <%= f.check_box :prestacion_requiere_hc %>
  </div>
  <div class="field">
    <%= f.label :prestacion_concepto_nombre %><br />
    <%= f.text_field :prestacion_concepto_nombre %>
  </div>
  <div class="field">
    <%= f.label :monto %><br />
    <%= f.text_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
