<h1>Listing prestaciones_incluidas</h1>

<table>
  <tr>
    <th>Uad nombre</th>
    <th>Efector nombre</th>
    <th>Nomenclador nombre</th>
    <th>Prestacion nombre</th>
    <th>Prestacion código</th>
    <th>Prestacion grupo nombre</th>
    <th>Prestacion subgrupo nombre</th>
    <th>Prestacion area nombre</th>
    <th>Prestacion cobertura</th>
    <th>Prestacion comunitaria</th>
    <th>Prestacion requiere hc</th>
    <th>Prestacion concepto nombre</th>
    <th>Monto</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prestaciones_incluidas.each do |prestacion_incluida| %>
  <tr>
    <td><%= prestacion_incluida.uad_nombre %></td>
    <td><%= prestacion_incluida.efector_nombre %></td>
    <td><%= prestacion_incluida.nomenclador_nombre %></td>
    <td><%= prestacion_incluida.prestacion_nombre %></td>
    <td><%= prestacion_incluida.prestacion_codigo %></td>
    <td><%= prestacion_incluida.prestacion_grupo_nombre %></td>
    <td><%= prestacion_incluida.prestacion_subgrupo_nombre %></td>
    <td><%= prestacion_incluida.prestacion_area_nombre %></td>
    <td><%= prestacion_incluida.prestacion_cobertura %></td>
    <td><%= prestacion_incluida.prestacion_comunitaria %></td>
    <td><%= prestacion_incluida.prestacion_requiere_hc %></td>
    <td><%= prestacion_incluida.prestacion_concepto_nombre %></td>
    <td><%= prestacion_incluida.monto %></td>
    <td><%= link_to 'Show', prestacion_incluida %></td>
    <td><%= link_to 'Edit', edit_prestacion_incluida_path(prestacion_incluida) %></td>
    <td><%= link_to 'Destroy', prestacion_incluida, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prestacion incluida', new_prestacion_incluida_path %>
