<p id="notice"><%= notice %></p>

<p>
  <b>Uad nombre:</b>
  <%= @prestacion_incluida.uad_nombre %>
</p>

<p>
  <b>Efector nombre:</b>
  <%= @prestacion_incluida.efector_nombre %>
</p>

<p>
  <b>Nomenclador nombre:</b>
  <%= @prestacion_incluida.nomenclador_nombre %>
</p>

<p>
  <b>Prestacion nombre:</b>
  <%= @prestacion_incluida.prestacion_nombre %>
</p>

<p>
  <b>Prestacion código:</b>
  <%= @prestacion_incluida.prestacion_codigo %>
</p>

<p>
  <b>Prestacion grupo nombre:</b>
  <%= @prestacion_incluida.prestacion_grupo_nombre %>
</p>

<p>
  <b>Prestacion subgrupo nombre:</b>
  <%= @prestacion_incluida.prestacion_subgrupo_nombre %>
</p>

<p>
  <b>Prestacion area nombre:</b>
  <%= @prestacion_incluida.prestacion_area_nombre %>
</p>

<p>
  <b>Prestacion cobertura:</b>
  <%= @prestacion_incluida.prestacion_cobertura %>
</p>

<p>
  <b>Prestacion comunitaria:</b>
  <%= @prestacion_incluida.prestacion_comunitaria %>
</p>

<p>
  <b>Prestacion requiere hc:</b>
  <%= @prestacion_incluida.prestacion_requiere_hc %>
</p>

<p>
  <b>Prestacion concepto nombre:</b>
  <%= @prestacion_incluida.prestacion_concepto_nombre %>
</p>

<p>
  <b>Monto:</b>
  <%= @prestacion_incluida.monto %>
</p>


<%= link_to 'Edit', edit_prestacion_incluida_path(@prestacion_incluida) %> |
<%= link_to 'Back', prestaciones_incluidas_path %>
