= form_for(@referente) do |f|
  %div.hidden_field
    %input{ :id => "referente_efector_id", :name => "referente[efector_id]", :type => "hidden", :value => @efector.id }
  - if @referente.errors.any?
    #error_explanation
      %h2= pluralize(@referente.errors.count, "error impide").to_s + " que se guarde la información de este referente."
      %ul
        - @referente.errors.full_messages.each do |msg|
          %li= msg
  %h3 Información general
  %div.field
    = f.label :contacto_id, "Referente:"
    %br/
    = f.select :contacto_id, options_for_select(@contactos, @contacto_id), {}, {:include_blank => true}
  %div.field
    = f.label :fecha_de_inicio
    %br/
    = f.date_select :fecha_de_inicio
  %div.field
    = f.label :fecha_de_finalizacion
    %br/
    = f.date_select :fecha_de_finalizacion, :include_blank => true
  %h3 Información complementaria
  %div.field
    = f.label :observaciones
    %br/
    = f.text_area :observaciones
  %div.actions
    - if @referente.new_record? then
      = f.submit "Crear referente"
    - else
      = f.submit "Actualizar datos del referente"
