- content_for :title do
  Liquidaciones Sumar - Ver

#content-header
  %h1 Liquidaciones Sumar - Ver
  #action-links
    - if can? :read, LiquidacionSumar
      = link_to '<< Volver al listado', liquidaciones_sumar_path
    - if can? :update, LiquidacionSumar
      = link_to 'Editar', edit_liquidacion_sumar_path(@liquidacion_sumar)

= render :partial => "shared/info", :locals => { :registro => @liquidacion_sumar }
#content-body
  %div.field_content
    %span.field_name Descripcion:
    %span.field_value= @liquidacion_sumar.descripcion
  %div.field_content
    %span.field_name Concepto de liquidacion:
    %span.field_value= @liquidacion_sumar.concepto_de_facturacion.descripcion
  %div.field_content
    %span.field_name Grupo de efectores:
    %span.field_value= @liquidacion_sumar.grupo_de_efectores_liquidacion.grupo
  %div.field_content
    %span.field_name Periodo:
    %span.field_value
  %div.field_content
    %span.field_name Formula:
    %span.field_value= @liquidacion_sumar.formula.descripcion

