= stylesheet_link_tag"entradas.css"
- content_for :title do
  Liquidaciones Sumar - Ver

#content-header
  %h1 Liquidaciones Sumar - Ver
  #action-links
    - if can? :read, LiquidacionSumar
      = link_to '<< Volver al listado', liquidaciones_sumar_path
    - if can? :update, LiquidacionSumar
      = link_to 'Editar', edit_liquidacion_sumar_path(@liquidacion_sumar)

= render :partial => "shared/info", :locals => { :registro => @liquidacion_sumar }

#content-body
  %table
    %tr
      %td
        %b Liquidacion:
      %td{:colspan => "3"}
        %span.field_value= @liquidacion_sumar.descripcion
    %tr
      %td
        %b Concepto:
      %td
        %span.field_value= @liquidacion_sumar.concepto_de_facturacion.descripcion
      %td 
        %b Periodo:
      %td
        %span.field_value= @liquidacion_sumar.periodo.periodo
    %tr
      %td 
        %b Plantilla de reglas:
      %td{:colspan => "2"}
        - unless @liquidacion_sumar.plantilla_de_reglas.blank?
          %span.field_value= @liquidacion_sumar.plantilla_de_reglas.nombre
        - else
          %span.field_value No
      %td{colspan: 2}= button_to 'Ver plantilla', @liquidacion_sumar.plantilla_de_reglas, method: "get" unless @liquidacion_sumar.plantilla_de_reglas.blank?
    %tr
      %td
        %b Grupo de Efectores:
      %td{colspan: "2"}
        %span.field_value= link_to "#{@liquidacion_sumar.grupo_de_efectores_liquidacion.grupo}", @liquidacion_sumar.grupo_de_efectores_liquidacion, {method: "get"},{style: "color: #0000FF"}
    %tr
      %td{colspan: "4"} &nbsp;
    %tr
      %td{colspan: "4"}
        %table
          %tr
            %td=button_to "Vaciar Liquidacion", vaciar_liquidacion_liquidacion_sumar_path(@liquidacion_sumar), method: :delete
            %td= button_to 'Modificar parametros', edit_parametro_liquidacion_sumar_path(@liquidacion_sumar.parametro_liquidacion_sumar),:method => "get"
            %td=button_to "Procesar Liquidacion", procesar_liquidacion_liquidacion_sumar_path(@liquidacion_sumar), method: :post
            %td=button_to "Ver liquidacion",  ver_prestaciones_liquidadas_liquidaciones_sumar_path(@liquidacion_sumar.id), method: :get
            %td=button_to "Generar cuasifacturas",  generar_cuasifacturas_liquidacion_sumar_path(@liquidacion_sumar.id), method: :post
