<p id="notice"><%= notice %></p>

<p>
  <b>Prestacion liquidada:</b>
  <%= @prestacion_liquidada_advertencia.prestacion_liquidada %>
</p>

<p>
  <b>Metodo de validacion:</b>
  <%= @prestacion_liquidada_advertencia.metodo_de_validacion %>
</p>

<p>
  <b>Comprobacion:</b>
  <%= @prestacion_liquidada_advertencia.comprobacion %>
</p>

<p>
  <b>Mensaje:</b>
  <%= @prestacion_liquidada_advertencia.mensaje %>
</p>


<%= link_to 'Edit', edit_prestacion_liquidada_advertencia_path(@prestacion_liquidada_advertencia) %> |
<%= link_to 'Back', prestaciones_liquidadas_advertencias_path %>
