= div_for detalle do
  
  %b
    = detalle.afiliado.tipo_de_documento.codigo + ":" + number_with_delimiter(detalle.afiliado.numero_de_documento,  locale: :es) + " - " + detalle.afiliado.apellido + ", " + detalle.afiliado.nombre
  %br
  = detalle.prestacion_liquidada.prestacion_incluida.prestacion_codigo + "-" + detalle.prestacion_liquidada.prestacion_incluida.prestacion_nombre
  %br
  = detalle.motivo_de_rechazo.nombre + " - " + detalle.fecha_de_debito.to_date.to_s
  %br
  = detalle.observaciones
  %br
  = link_to "Eliminar", [@informe_de_debito, detalle], method: :delete, remote: true, data: { confirm: '¿Está seguro que desea eliminar la prestación del informe de debito?' }
  %br
  %br