<%= form_for(@detalle_de_debito_prestacional) do |f| %>
  <% if @detalle_de_debito_prestacional.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detalle_de_debito_prestacional.errors.count, "error") %> prohibited this detalle_de_debito_prestacional from being saved:</h2>

      <ul>
      <% @detalle_de_debito_prestacional.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_de_debito %><br />
    <%= f.date_select :fecha_de_debito %>
  </div>
  <div class="field">
    <%= f.label :prestacion_liquidada %><br />
    <%= f.text_field :prestacion_liquidada %>
  </div>
  <div class="field">
    <%= f.label :motivo_de_rechazo %><br />
    <%= f.text_field :motivo_de_rechazo %>
  </div>
  <div class="field">
    <%= f.label :informado_sirge %><br />
    <%= f.check_box :informado_sirge %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
