= form_for([@informe_de_debito, @informe_de_debito.detalles_de_debitos_prestacionales.new]) do |f|
  .field
    = f.label :fecha_de_debito
    = f.date_select :fecha_de_debito
  .field
    = f.label :prestacion_liquidada
    = f.text_field :prestacion_liquidada
  .field
    = f.label :motivo_de_rechazo
    = f.text_field :motivo_de_rechazo
  .field
    = f.label :afiliado
    = f.text_field :afiliado
  .field
    = f.label :informado_sirge
    = f.check_box :informado_sirge
  .field
    = f.label :observaciones
    = f.text_area :observaciones
  .actions
    = f.submit

-# "tipo_de_debito_prestacional_id" int4,
-# "informe_debito_prestacional_id" int4,