= javascript_include_tag 'detalles_de_debitos_prestacionales.js'
= stylesheet_link_tag "entradas.css"
#content-header
  %h1 Informe de debito prestacional - Detalle de debitos
  #action-links
    - if can? :read, InformeDebitoPrestacional
      = link_to '<< Volver al listado', informes_debitos_prestacionales_path
      = link_to 'Finalizar el informe', finalizar_informe_debito_prestacional_path(@informe_de_debito), method: :put

#content-body
  %hr{width: "100%"}
  #info{align: "center"}
    %table
      %tr
        %td
          %span.field_name Efector:
          %span.field_value= @informe_de_debito.efector.nombre
        %td
          %span.field_name Concepto de facturación:
          %span.field_value= @informe_de_debito.concepto_de_facturacion.concepto
      %tr
        %td
          %span.field_name Tipo de débito prestacional:
          %span.field_value= @informe_de_debito.tipo_de_debito_prestacional.nombre
        %td
          %span.field_name Estado del proceso:
          %span.field_value= @informe_de_debito.estado_del_proceso.nombre
      %tr
        %td
          %span.field_name Informado SIRGE:
          %span.field_value=  @informe_de_debito.informado_sirge ? 'Si' : 'No'
        %td
          %span.field_name Procesado para débito:
          %span.field_value= @informe_de_debito.procesado_para_debito ? 'Si' : 'No'

  %br/
  - if @detalle_editable == true
    %hr{width: "100%"}
    = form_for([@informe_de_debito, DetalleDeDebitoPrestacional.new], remote: true) do |f|
      .field
        = f.label :afiliado
        = f.hidden_field :afiliado_id, class: 'select2 ajax', data: { source: busqueda_por_aproximacion_afiliados_path, placeholder: 'Ingrese el documento y nombre del afiliado a buscar', caracteresminimos: '5', coleccion: 'afiliados', funcion_de_formato: "maquetaAfiliado", funcion_de_formato_seleccionada: "seleccionaAfiliado" }
        ¿Prestación comunitaria?
        = check_box_tag "es_comunitaria", 1, false
      .field
        = f.label "Prestación" 
        = f.hidden_field :prestacion_liquidada_id, class: 'select2 ajax encadenado', data: { source: prestaciones_liquidadas_por_afiliado_efector_concepto_path, placeholder: 'Seleccione la prestación a debitar', coleccion: 'prestaciones', id_padre: 'detalle_de_debito_prestacional_afiliado_id', parametro: 'afiliado_id', parametros_adicionales: "efector_id: #{@informe_de_debito.efector.id}, concepto_de_facturacion_id: #{@informe_de_debito.concepto_de_facturacion.id}", funcion_de_formato: "maquetaPrestaciones", funcion_de_formato_seleccionada: "seleccionaPrestacion" }
      .field
        = f.label :motivo_de_rechazo
        = f.select :motivo_de_rechazo_id, @motivos_de_rechazo,{:include_blank => true}, {class: 'select2', data: {placeholder: 'Seleccione el motivo de rechazo' }}
      = f.label :observaciones
      .field
        = f.text_area :observaciones, style: "width:100%", size: "70x8"
      .actions
        = f.submit "Guardar"
  %hr{width: "100%"}

  %h2 Debitos
  %table{id: "tabla_detalle"}
    %tr
      %th Motivo del Rechazo
      %th Afiliado
      %th Prsetación
      %th Observaciones
      %th Acciones
    - @detalles_de_debitos_prestacionales.each do |detalle|
      %tr{id: "detalle_"+detalle.id.to_s}
        %td= truncate(detalle.motivo_de_rechazo.nombre, lenght: 40, separator: ' ')
        %td= detalle.afiliado.present? ? detalle.afiliado.tipo_de_documento.codigo + ":" + detalle.afiliado.numero_de_documento + " - " + detalle.afiliado.apellido + ", " + detalle.afiliado.nombre : "Comunitaria"
        %td= truncate(detalle.prestacion_liquidada.prestacion_incluida.prestacion_codigo + "-" + detalle.prestacion_liquidada.prestacion_incluida.prestacion_nombre, :length => 30, :separator => ' ')
        %td= detalle.observaciones
        %td= link_to "Eliminar", [@informe_de_debito, detalle], method: :delete, remote: true, data: { confirm: '¿Está seguro que desea eliminar la prestación del informe de debito?' }

  #errores{title: "No se pudo guardar su debito"}
