- content_for :title do
  Beneficiarios

%h1 Beneficiarios

#busqueda_afiliado
  = form_tag('/afiliados', :method => 'get') do
    %div.field
      = label_tag(:patron_de_busqueda, "Buscar beneficiario:")
      = text_field_tag(:patron_de_busqueda, nil)
    %div.actions
      = submit_tag("Buscar")

%p#notice= notice

- if @afiliados_encontrados
  -# La búsqueda ya fue procesada
  %h2 Resultado de la búsqueda
  - if @afiliados_encontrados > 0
    -# Se encontraron registros
    La búsqueda devolvió
    = @afiliados_encontrados
    registros coincidentes en
    = ("%.2f" % @tiempo_de_busqueda).gsub('.', ',')
    segundos

    #resultados
      - @afiliados.each do |a|
        %p
          .titulo= link_to a.titulo, eval(a.modelo_type.underscore + "_path(" + a.modelo_id.to_s + ")")
          = sanitize a.texto
      = will_paginate @afiliados, :inner_window => 2, :outer_window => 0

  - else
    -# No hay registros asociados con esta búsqueda
    No se encontraron beneficiarios que coincidan con los criterios de búsqueda ingresados.
