= form_for(@liquidacion_informe) do |f|

  - if @liquidacion_informe.requiere_numero_de_expediente?
    .field
      = f.label :numero_de_expediente, "N° de expediente"
      = text_field_tag :numero_de_expediente

  - if @liquidacion_informe.requiere_numero_de_cuasi?
    .field
      = f.label :numero_de_cuasifactura, "N° de cuasifactura recibida:"
      = text_field_tag :numero_de_cuasifactura

  = radio_button_tag 'aprobar', true
  Aprobar cuasifactura y generar anexos
  %br
  = radio_button_tag 'aprobar', false
  Rechazar cuasifactura por estar suscripta incorrectamente o sin suscribir.
  %br
  %br
  .field
    = f.label :observaciones, "Observaciones:"
    %br
    = f.text_field :observaciones, {:size => "80x8", disabled: true}
  .actions
    = f.submit

