- content_for :title do
  Capacitación - Ayuda
#content-header
  %h1 Capacitación - Ayuda

#content-body
  %h2.first-header Información General
  = link_to "Información general del Programa SUMAR", "/Presentación_SUMAR_Actualizado 2017.pdf"
  %br
  = link_to "Preguntas frecuentes del programa SUMAR", "/Preguntas frecuentes_ Actualizado 2017.pdf"
  %br
  -#= link_to "Prestaciones del Programa Sumar específicas para el trabajo en terreno y comunitario", "/Prestaciones del Programa Sumar específicas para el trabajo en terreno y comunitario.pdf"
  -#%br


  %h2 Manuales
  = link_to "Manual de inscripción", "/manual_de_inscripcion_2013.pdf"
  %br
  = link_to "Manual de facturación", "/manual_de_facturacion.pdf"
  %br
  = link_to "Nomenclador para facturación de prestaciones del anexo", "/Nomenclador_PR_IG_AP_LB.pdf"
  %br

  %h2 Recursos  
    = link_to "Síndrome Bronquial Obstructivo en PDF", "/Síndrome_Bronquial_Obstructivo.pdf"
  %br
     = link_to "Síndrome Bronquial Obstructivo en JPG", "/Síndrome_Bronquial_Obstructivo.jpg"
  %br


  %h2 Talleres
  = link_to "Información para facturar Talleres", "/Información para facturar_talleres.pdf"
  %br


  %h2 Plan con pueblos indígenas
  = link_to "Buenas_prácticas_población_indígena_2017", "/Buenas_prácticas_población_indígena_2017.pdf"
  %br
  = link_to "Carta de derechos de la mujer embarazada indígena Archivo", "/Carta de derechos de la mujer embarazada indígena.pdf"
  %br
  = link_to "Instructivo Carta Embarazada Indígena", "/Instructivo Carta Emb Indígena.pdf"
  %br


  %h2 Formularios
  = link_to "Ficha de inscripción SUMAR", "/Formulario inscripción_Actualizado 2017.pdf"
  %br
  = link_to "Historia clínica odontológica", "/HC Odontológica_Actualizado 2017.pdf"
  %br
  = link_to "Historia clínica para adultos", "/historia_clinica_adultos_sumar.pdf"
  %br
  = link_to "Planillas de facturación propuesta - datos reportables obligatorios", "/planilla_fact_caps_datos_reportables.pdf"
  %br
  = link_to "Formulario ABM de usuarios - Centros de Salud,Hospitales y Programas", "/Formulario ABM_Actualizado 2017.pdf"
