- content_for :title do
  Capacitación - Ayuda
#content-header
  %h1 Capacitación - Ayuda

#content-body
  %h2.first-header Información General
  = link_to "Información general del Programa SUMAR", "/Informacion_general_del_SUMAR.pdf"
  %br
  = link_to "Preguntas frecuentes del programa SUMAR", "/PreguntasFrecuentes_ Efectores.doc"


  %h2 Manuales
  = link_to "Cobertura efectiva básica", "/CEB.pdf"
  %br
  = link_to "Manual de inscripción", "/manual_de_inscripcion_2013.pdf"
  %br
  = link_to "Manual de facturación", "/manual_de_facturacion.pdf"
  %br
  = link_to "Manual del plan de servicios de salud 2015 - ACTUALIZADO", "/manual_plan_de_sevicios_de_salud_Marzo_2015.pdf"
  %br 
  = link_to "Manual de datos reportables", "/informe_datos_reportables.pdf"
  %br
  = link_to "Guia para equipos de salud - PROGRESAR", "/guia_para_equipos_de_salud_progresar_y_AXE.pdf"
  %br
  = link_to "Nomenclador para facturación de prestaciones del anexo", "/Nomenclador_PR_IG_AP_LB.pdf"

  %h2 Talleres
  = link_to "¿Qué es un taller?", "/que_es_un_taller.pdf"
  %br
  = link_to "Talleres preventivos para jóvenes", "/talleres_preventivos_jovenes.pdf"
  %br
  = link_to "De talleres y talleristas", "/de_talleres_y_talleristas.pdf"
  %br
  = link_to "Canasta de preguntas", "/canasta_de_preguntas.pdf"
  %br
  = link_to "La sexualidad en nuestros cuerpos", "/la_sexualidad_en_nuestros_cuerpos.pdf"
  %br
  = link_to "Información para facturar talleres - Actualizado Agosto del 2014", "/Informacion_para_facturar_talleres.pdf"

  %h2 Formularios
  = link_to "Ficha de inscripción SUMAR", "/ficha_de_inscripcion_sumar.pdf"
  %br
  = link_to "Historia clínica odontológica", "/historia_clinica_odontologica_sumar.pdf"
  %br
  = link_to "Planillas de facturación propuesta - datos reportables obligatorios", "/planilla_fact_caps_datos_reportables.pdf"
  %br
  = link_to "Formulario ABM de usuarios - Centros de Salud", "/Formulario_ABM_USUARIO_CENTROS_DE_SALUD.pdf"
  %br
  = link_to "Formulario ABM de usuarios - Hospitales y Programas", "/Formulario_ABM_USUARIO_HOSPITALES_PROGRAMAS.pdf"
