%div.field  
  = dpto.label(:nombre)
  = dpto.text_field(:nombre) 

%div.field_content
  = dpto.label(:departamento_bio_id)
  = dpto.text_field(:departamento_bio_id)

%div.field_content
  = dpto.label(:departamento_indec_id) 
  = dpto.text_field(:departamento_indec_id)
  
%div.field_content
  = dpto.label(:departamento_insc_id) 
  = dpto.text_field(:departamento_insc_id)
