- content_for :title do
  - if @detalle
    Verificación preliminar de la importación del archivo 'P'
  - else
    Importación de un archivo 'P'

#content-header
  %h1
    - if @detalle
      Verificación preliminar de la importación del archivo 'P'
    - else
      Importación de un archivo 'P'

#content-body
  %h3.first-header Datos de identificación
  %div.field_content
    %span.field_name Administrador
    %span.field_value= @liquidacion.efector.cuie.to_s + " - " + @liquidacion.efector.nombre
    = link_to "Ver detalles del efector", @liquidacion.efector
  %div.field
    %span.field_name Periodo liquidado (mes y año)
    %span.field_value= l(Date.new(@liquidacion.anio_de_prestaciones, @liquidacion.mes_de_prestaciones, 1), |
      :format => :month_and_year) |

  - if @detalle
    %h3 Análisis preliminar de la digitalización
    - if @detalle.size > 0
      %p
        El siguiente detalle
        %span.destacado.error>= " aún no ha sido importado al sistema"
        \. Si los datos del archivo 'P' se han detectado correctamente
        (coinciden con los consolidados presentados), presione el botón
        %span.destacado Importar
        para guardar la información. Si el sistema no detectó correctamente la
        información, vuelva a la página anterior utilizando el botón provisto
        por su navegador, para corregir los datos y reintentar la operación.

      - @resumen.keys.each do |efector|
        %h3
          Cuasi-factura del efector
          %span.destacado= efector
        %table
          %thead
            %tr.centrado
              %th Código
              %th Cantidad informada
              %th Monto
              %th.destacado Subtotal
          %tbody
            - @resumen[efector].keys.each do |prestacion|
              %tr
                %td.izquierda= prestacion
                %td.derecha= @resumen[efector][prestacion][1].to_i || 0
                %td.derecha= @resumen[efector][prestacion][0].to_f || 0.0
                %td.derecha.destacado
                  = @resumen[efector][prestacion][0].to_f * @resumen[efector][prestacion][1].to_f
        %br/
      = form_tag('/importar_archivo_p', :method => 'post') do
        %div.hidden_field
          %input{ :id => "liquidacion_id", :name => "liquidacion_id", :type => "hidden", :value => @liquidacion.id }
          %input{ :id => "nomenclador_id", :name => "nomenclador_id", :type => "hidden", :value => @nomenclador_id }
          %input{ :id => "detalle_p", :name => "detalle_p", :type => "hidden", :value => @importacion_p }
        %div.actions
          = submit_tag("Importar")

      %h2 Detalle de las prestaciones analizadas
      %table
        %thead
          %tr
            %th Fecha
            %th Beneficiario
            %th Documento
            %th Historia clínica
            %th Prestación
        %tbody
          - @detalle.each do |d|
            %tr
              %td.centrado= d[:fecha_de_prestacion]
              %td.izquierda
                = "#{d[:apellido]}, #{d[:nombre]}" + (d[:afiliado_id] ? " (" + d[:afiliado_id].to_s + ")" : "")
              %td.derecha= d[:numero_de_documento]
              %td.centrado= d[:historia_clinica]
              %td.derecha= d[:codigo_de_prestacion_informado]
    - else
      No se indicó ningún detalle, o ninguna línea del detalle tiene el formato correcto.

  - else # Mostrar el formulario para importar los datos
    %h3.first-header Datos para importar
    = form_tag('/importar_archivo_p', :method => 'post') do
      %div.hidden_field
        %input{ :id => "liquidacion_id", :name => "liquidacion_id", :type => "hidden", :value => @liquidacion.id }
      %p
        Copie y pegue el contenido del archivo 'P' completo  en el área
        de texto, seleccione el nomenclador con el cual se va a realizar la verificación,
        y presione el botón
        %span.destacado Verificar
        para obtener una vista preliminar de los datos que se importarán al sistema.
      %div.field
        = label_tag(:detalle_p, "Contenido del archivo:")
        %br/
        = text_area_tag(:detalle_p, nil, {:size => '80x15'})
      %div.field
        = label_tag(:nomenclador_id, "Nomenclador:")
        %br/
        = select_tag :nomenclador_id, options_for_select(@nomencladores, @nomenclador_id), { :include_blank => true }
      %div.actions
        = submit_tag("Verificar")
