.infobox-ok=(notice)

- content_for :title do
  Liquidaciones

%h1 Liquidaciones

%ul{:id => "submenu"}
  - if can? :create, Liquidacion
    %li= link_to "Agregar una liquidación", new_liquidacion_url, :class => "drop"
    
%p    

- if @liquidaciones && @liquidaciones.size > 0
  %table
    %thead
      %tr
        %th Efector
        %th Año y mes
        %th Fecha de recepción
        %th Expediente
    %tbody
      - @liquidaciones.each do |l|
        %tr.clickable{ :onclick => "location.href=\'#{liquidacion_path(l)}\'", :title => "Ver detalles de la liquidación" }
          %td= l.efector.nombre
          %td= l.año_de_prestaciones.to_s + "/" + l.mes_de_prestaciones.to_s
          %td= l.fecha_de_recepcion.strftime("%d/%m/%Y")
          %td= l.numero_de_expediente
  = will_paginate @liquidaciones, :inner_window => 2, :outer_window => 0
- else
  %p No se ha registrado ninguna liquidación.

