- content_for :title do
  Informe de beneficiarios activos

#content-header
  %h1 Informe de beneficiarios activos

= render :partial => "shared/info"

#content-body

  %h2.first-header-with-note
    Información del periodo:
    = l @fecha_base, :format => :month_and_year
  %p.note
    Puede seleccionar otro periodo y presionar 'Actualizar' para obtener los datos correspondientes.

  = form_tag('/informe_de_beneficiarios_activos', :method => 'get') do
    %div.field
      = label_tag(:mes_y_anio, "Periodo (mes y año):")
      = date_select :mes_y_anio, :mes_y_anio, |
        {:start_year => 2012, :end_year => @ultimo_periodo.year, :discard_day => true, :default => @fecha_base} |
      = submit_tag("Actualizar")

  %h3 Cantidad de beneficiarios activos por grupo
  %table
    %thead
      %tr
        %th Grupo
        %th Sin C.E.B.
        %th Con C.E.B.
        %th Subtotal
    %tbody
      %tr
        %td Niños y niñas menores de 6 años
        %td.derecha= @menores_de_6_activos[0]
        %td.derecha= @menores_de_6_activos[1]
        %td.derecha= @menores_de_6_activos[2]
      %tr
        %td Niños y niñas de 6 a 9 años
        %td.derecha= @de_6_a_9_activos[0]
        %td.derecha= @de_6_a_9_activos[1]
        %td.derecha= @de_6_a_9_activos[2]
      %tr
        %td Adolescentes de 10 a 19 años
        %td.derecha= @adolescentes_activos[0]
        %td.derecha= @adolescentes_activos[1]
        %td.derecha= @adolescentes_activos[2]
      %tr
        %td Mujeres de 20 a 64 años
        %td.derecha= @mujeres_de_20_a_64_activas[0]
        %td.derecha= @mujeres_de_20_a_64_activas[1]
        %td.derecha= @mujeres_de_20_a_64_activas[2]
      %tr
        %td Hombres de 20 a 64 años
        %td.derecha= @hombres_de_20_a_64_activos[0]
        %td.derecha= @hombres_de_20_a_64_activos[1]
        %td.derecha= @hombres_de_20_a_64_activos[2]
      %tr
        %td.destacado Totales
        %td.destacado.derecha
          = @menores_de_6_activos[0] + @de_6_a_9_activos[0] + @adolescentes_activos[0] + @mujeres_de_20_a_64_activas[0] + @hombres_de_20_a_64_activos[0]
        %td.destacado.derecha
          = @menores_de_6_activos[1] + @de_6_a_9_activos[1] + @adolescentes_activos[1] + @mujeres_de_20_a_64_activas[1] + @hombres_de_20_a_64_activos[1]
        %td.destacado.derecha
          = @menores_de_6_activos[2] + @de_6_a_9_activos[2] + @adolescentes_activos[2] + @mujeres_de_20_a_64_activas[2] + @hombres_de_20_a_64_activos[2]

  %h3 Cantidad de embarazadas activas por grupo
  %table
    %thead
      %tr
        %th Grupo
        %th Sin C.E.B.
        %th Con C.E.B.
        %th Subtotal
    %tbody
      %tr
        %td Adolescentes de 10 a 19 años
        %td.derecha= @embarazadas_adolescentes_activas[0]
        %td.derecha= @embarazadas_adolescentes_activas[1]
        %td.derecha= @embarazadas_adolescentes_activas[2]
      %tr
        %td Mujeres de 20 a 64 años
        %td.derecha= @embarazadas_de_20_a_64_activas[0]
        %td.derecha= @embarazadas_de_20_a_64_activas[1]
        %td.derecha= @embarazadas_de_20_a_64_activas[2]
      %tr
        %td.destacado Totales
        %td.destacado.derecha
          = @embarazadas_adolescentes_activas[0] + @embarazadas_de_20_a_64_activas[0]
        %td.destacado.derecha
          = @embarazadas_adolescentes_activas[1] + @embarazadas_de_20_a_64_activas[1]
        %td.destacado.derecha
          = @embarazadas_adolescentes_activas[2] + @embarazadas_de_20_a_64_activas[2]
