= javascript_include_tag "informes.js"
- content_for :title do
  Resumen bajas solicitadas

#content-header
  %h1 Resumen bajas solicitadas

= render "shared/info"

#content-body
  %h3 Informes - Inscripciones por usuario
  = form_tag :action => 'usuarios_inscripciones', :remote => true do
    = label_tag "Desde" 
    = text_field_tag 'desde'
    = label_tag "Hasta"
    = text_field_tag 'hasta'
    = submit_tag 'Buscar'
    
  -#= form_for @usrinsc do |row|
    -#%div.field  
      -#= row.label(:desde)
      -#= row.text_field("Desde") 
    -#%div.field
      -#= row.label(:hasta)
      -#= row.label("Hasta")