= javascript_include_tag "reportes.js"
= javascript_include_tag "auto_grow_input.js"
= stylesheet_link_tag"entradas.css"

- content_for :title do
  Informes


#content-header
  %h1 Informes
  #action-links
    - if can? :create, Informe
      = link_to("Nuevo Informe", :controller => "informes", :action => "new")

-# Lista todos los reportes disponibles
#content-body
  %h2.first-header Listado de informes 
  %table{:border => "1", :width => "440", :align => 'center'}
    %tbody
      - (@reportes.each_slice(5).to_a).each do |row|
        %tr
          - row.each do |rep|
            %td
              %table{:border => "0", :width => "100"}
                %tr
                  %td= image_tag 'report.gif'
                %tr
                  %td
                    = content_tag :a, rep.titulo, id: "reporte", href: "#", class: 'reportlink', data: {repor: rep.to_json(only: :id, :include => {:informes_filtros => {only: [:nombre, :posicion, :valor_por_defecto], :include => {:informe_filtro_validador_ui => {only: :tipo}}  }} )}
                    - if can? :update, Informe
                      |
                      = link_to "Editar Informe", edit_informe_path(rep)
                      |
                      = link_to "CSV", controller: 'informes', action: 'render_informe', format: "csv" #:controller => "paises", :action => "index"
                      
#dialog-form{title: "Opciones de filtro"}
  =# form_tag  '/informes/informe_solicitado', method: 'get', id: 'formulario_filtro' do
  =# form_tag ({:controller => "informes", :action => 'render_informe'}, method: 'get', id: 'formulario_filtro') do
  = form_tag({:controller => "informes", :action => "render_informe"}, :method => "get", :id => "formulario_filtro") do
    = content_tag "div", id: "filtros", data: {repor: @reportes} do
      = ""