- content_for :title do
  Informes

= javascript_include_tag "set.chosen.js"
= stylesheet_link_tag"entradas.css"
#content-header
  %h1 Informes

#content-body
  %h2.first-header Nuevo informe
  = form_for @informe do |i|
    %table{:border => "0", :width => "100%"}
      %tr
        %td{:width => "22%"} Titulo
        %td{:colspan => "5"}= i.text_field(:titulo, {style: 'width: 250px'})
      %tr
        %td Formato de salida
        %td{:colspan => "5"}= i.select :formato, ['html'], {style: 'width: 250px'}
      %tr
        %td Metodo del controller
        %td{:colspan => "5"}= i.select :metodo_en_controller, @controller_metodos
      %tr
        %td Esquemas:
        %td{colspan: '5'}
          = label_tag :incluir_esquema, 'Incluir'
          = radio_button_tag :incluido, '1', true
          = label_tag :excluir_esquema, 'Excluir'
          = radio_button_tag :incluido, '0'
      %tr
        = fields_for(@esquemas_informes) do |ei|
          %td Esquemas
          %td{colspan: '5'}= collection_select :informe_esquema, :id, @esquemas, :id, :nombre,{}, {multiple: true, size: 5, style: 'width: 100%', class:'multi_select'}
      %tr
        %td Filtro
        %td{:width => "18%"} text_filtro
        %td{:width => "33%"} Valor por defecto
        %td{:width => "33%"} text_valxdef
        %td{:width => "24%"} Validador Ui
        %td select_validador_ui
      %tr
        %td{:colspan => "5"} &nbsp;
        %td{:width => "3%"} bton_agregar
      %tr
        %td &nbsp;
        %td{:colspan => "5"}
          %table{:border => "0", :width => "100%"}
            %tr
              %th{:scope => "col"} Filtro
              %th{:scope => "col"} Valor por defecto
              %th{:scope => "col"} Validador de UI
            %tr
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
            %tr
              %td &nbsp;
              %td &nbsp;
              %td &nbsp;
      %tr
        %td SQL
        %td{:colspan => "5", :rowspan => "2"}= i.text_area :sql, {style: "width: 100%", rows: 10}
      %tr
        %td &nbsp;
    = i.submit "Crear informe"

