- content_for :title do
  Informes

= javascript_include_tag "set.chosen.js"
= stylesheet_link_tag"entradas.css"
#content-header
  %h1 Informes
= render :partial => "shared/info", :locals => { :registro => @informe }
#content-body
  %h2.first-header Nuevo informe
  = form_for @informe do |f|
    %table{:border => "0", :width => "100%"}
      %tr
        %td{:width => "22%"} Titulo
        %td= f.text_field(:titulo, {style: 'width: 250px'})
      %tr
        %td Formato de salida
        %td= f.select :formato, @formatos, {style: 'width: 250px'}
      %tr
        %td Metodo del controller 
        %td= f.select :metodo_en_controller, @controller_metodos
      %tr
        %td Esquemas:
        %td
          = label_tag :incluir_esquema, 'Incluir'
          = radio_button_tag :incluido, '1', true
          = label_tag :excluir_esquema, 'Excluir'
          = radio_button_tag :incluido, '0'
      %tr
        -#= fields_for(@esquemas_informes) do |ei|
        %td Esquemas
        %td= collection_select :informe_esquema, :id, @esquemas, :id, :nombre,{}, {multiple: true, size: 5, style: 'width: 100%', class:'multi_select'}
      %tr
        %td= link_to_add_association 'Agregar Filtro', f , :informes_filtros, data: {'association-insertion-node' => '#tabla_filtros tr:last', 'association-insertion-method' => 'after'}
        %td
          %table{:border => "0", :width => "100%", :id => 'tabla_filtros'}
            %tr
              %th{:scope => "col", width: "10px"} #
              %th{:scope => "col"} Filtro
              %th{:scope => "col"} Valor por defecto
              %th{:scope => "col"} Validador de UI
              %th{:scope => "col"} Acciones
              = f.fields_for :informes_filtros do |fi|
                = render 'informe_filtro_fields', :f => fi
      %tr
        %td SQL
        %td{:colspan => "5", :rowspan => "2"}= f.text_area :sql, {style: "width: 100%", rows: 10}
      %tr
        %td &nbsp;
    = f.submit "Crear informe"

