- content_for :title do
  = @concepto_de_facturacion.concepto + " - Movimientos Bancarios Autorizados  "

- content_for :other_includes do
  = javascript_include_tag 'jquery.chained.js'
  = javascript_include_tag 'movimientos_bancarios_autorizados'

#content-header
  %h1= @concepto_de_facturacion.concepto + " - Movimientos Bancarios Autorizados  "
  #action-links
    - if can? :read, ConceptoDeFacturacion
      = link_to '<< Volver al concepto', @concepto_de_facturacion

#content-body
  %table{id: "tabla_detalle"}
    %tr
      %th= "Organismo<br>Gubernamental".html_safe
      %th Cuenta bancaria origen
      %th Efector
      %th Cuenta bancaria destino
      %th Acciones
    = render 'form'
    - @movimientos_bancarios_autorizados.each do |movimiento_bancario_autorizado|
      %tr{id: "detalle_" + movimiento_bancario_autorizado.id.to_s }
        %td= movimiento_bancario_autorizado.cuenta_bancaria_origen.entidad.entidad.nombre
        %td= link_to "#{movimiento_bancario_autorizado.cuenta_bancaria_origen.nombre}",  movimiento_bancario_autorizado.cuenta_bancaria_origen
        %td= movimiento_bancario_autorizado.cuenta_bancaria_destino.entidad.entidad.nombre
        %td= link_to "#{movimiento_bancario_autorizado.cuenta_bancaria_destino.nombre}", movimiento_bancario_autorizado.cuenta_bancaria_destino
        %td= link_to "Eliminar", [@concepto_de_facturacion, movimiento_bancario_autorizado], method: :delete, remote: true, data: { confirm: "¿Está seguro que desea eliminar esta autorizacion de movimiento?" }

#errores{title: "No se pudo guardar su configuración"}