<%= form_for(@prestacion_liquidada) do |f| %>
  <% if @prestacion_liquidada.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prestacion_liquidada.errors.count, "error") %> prohibited this prestacion_liquidada from being saved:</h2>

      <ul>
      <% @prestacion_liquidada.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :liquidacion_id %><br />
    <%= f.text_field :liquidacion_id %>
  </div>
  <div class="field">
    <%= f.label :unidad_de_alta_de_datos_id %><br />
    <%= f.number_field :unidad_de_alta_de_datos_id %>
  </div>
  <div class="field">
    <%= f.label :efector_id %><br />
    <%= f.number_field :efector_id %>
  </div>
  <div class="field">
    <%= f.label :prestacion_incluida_id %><br />
    <%= f.number_field :prestacion_incluida_id %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_la_prestacion %><br />
    <%= f.date_select :fecha_de_la_prestacion %>
  </div>
  <div class="field">
    <%= f.label :estado_de_la_prestacion_id %><br />
    <%= f.number_field :estado_de_la_prestacion_id %>
  </div>
  <div class="field">
    <%= f.label :historia_clinica %><br />
    <%= f.text_field :historia_clinica %>
  </div>
  <div class="field">
    <%= f.label :es_catastrofica %><br />
    <%= f.check_box :es_catastrofica %>
  </div>
  <div class="field">
    <%= f.label :diagnostico_id %><br />
    <%= f.number_field :diagnostico_id %>
  </div>
  <div class="field">
    <%= f.label :diagnostico_nombre %><br />
    <%= f.text_field :diagnostico_nombre %>
  </div>
  <div class="field">
    <%= f.label :cantidad_de_unidades %><br />
    <%= f.number_field :cantidad_de_unidades %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="field">
    <%= f.label :clave_de_beneficiario %><br />
    <%= f.text_field :clave_de_beneficiario %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
