<h1>Listing prestaciones_liquidadas</h1>

<table>
  <tr>
    <th>Liquidacion</th>
    <th>Unidad de alta de datos</th>
    <th>Efector</th>
    <th>Prestacion incluida</th>
    <th>Fecha de la prestacion</th>
    <th>Estado de la prestación</th>
    <th>Historia clinica</th>
    <th>Es catastrofica</th>
    <th>Diagnostico</th>
    <th>Diagnostico nombre</th>
    <th>Cantidad de unidades</th>
    <th>Observaciones</th>
    <th>Clave de beneficiario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prestaciones_liquidadas.each do |prestacion_liquidada| %>
  <tr>
    <td><%= prestacion_liquidada.liquidacion_id %></td>
    <td><%= prestacion_liquidada.unidad_de_alta_de_datos_id %></td>
    <td><%= prestacion_liquidada.efector_id %></td>
    <td><%= prestacion_liquidada.prestacion_incluida_id %></td>
    <td><%= prestacion_liquidada.fecha_de_la_prestacion %></td>
    <td><%= prestacion_liquidada.estado_de_la_prestacion_id %></td>
    <td><%= prestacion_liquidada.historia_clinica %></td>
    <td><%= prestacion_liquidada.es_catastrofica %></td>
    <td><%= prestacion_liquidada.diagnostico_id %></td>
    <td><%= prestacion_liquidada.diagnostico_nombre %></td>
    <td><%= prestacion_liquidada.cantidad_de_unidades %></td>
    <td><%= prestacion_liquidada.observaciones %></td>
    <td><%= prestacion_liquidada.clave_de_beneficiario %></td>
    <td><%= link_to 'Show', prestacion_liquidada %></td>
    <td><%= link_to 'Edit', edit_prestacion_liquidada_path(prestacion_liquidada) %></td>
    <td><%= link_to 'Destroy', prestacion_liquidada, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prestacion liquidada', new_prestacion_liquidada_path %>
