= javascript_include_tag "ver_prestaciones_liquidadas.js"
= stylesheet_link_tag"entradas.css"

- content_for :title do
  Liquidaciones - Prestaciones Liquidadas 
#content-header
  %h1 Prestaciones liquidadas
  #action-links
    - if can? :read, LiquidacionSumar
      = link_to '<<-Volver a la liquidacion', @prestaciones_liquidadas.first.liquidacion

#content-body

  - @prestaciones_liquidadas.each do |p|
    %div{id: "tabs_#{p.id}"}
      %ul
        %li
          %a{href: '#prestacion'} Prestacion
        %li
          %a{href: '#datos'} Datos
        %li
          %a{href: '#advertencias'} Advertencias
      #prestacion
        %table{border: "0", width: "100%"}
          %tr
            %td{width: "12%"} Efector
            %td{width: "13%"}= p.efector.nombre
            %td{width: "21%"} Unidad de alta de Datos:
            %td{colspan: "4"}= p.unidad_de_alta_de_datos.nombre
          %tr
            %td Beneficiario
            %td{colspan: "6"} p.beneficiario.nombre
          %tr
            %td Prestacion
            %td= p.prestacion_incluida.prestacion_nombre
            %td Fecha
            %td{width: "7%"}= p.fecha_de_la_prestacion
            %td{width: "26%"}= (p.es_catastrofica) ? "Catastrofica" : "No catastrofica"
            %td HC
            %td= p.historia_clinica
          %tr
            %td Diagnostico
            %td= p.diagnostico.nombre
            %td Observaciones
            %td{colspan: "4"}= p.observaciones
          %tr
            %td Estado
            %td= p.estado_de_la_prestacion.nombre
            %td Información
            %td{colspan: "4"}= p.observaciones_liquidacion
          %tr
            %td{colspan: "5"}
            %td Monto
            %td= p.monto
      #datos
        %table{border: "0", width: "100%"}
          %tr
            %td Dato Reportable
            %td{colspan: "7"}
          %tr
            %td Precio por unidad
            %td{colspan: "7"}  
          %tr
            %td{width: "16%"} Valor Integer
            %td{width: "7%"}  
            %td{width: "16%"} Valor Big_Decimal
            %td{width: "11%"}  
            %td{width: "10%"} Valor Date
            %td{width: "15%"}  
            %td{width: "5%"} Valor String
            %td{width: "20%"}  
          %tr
            %td Adicional por prestacion
            %td  
            %td Unidades
            %td{colspan: "5"}
      #advertencias
        %table{border: "0", width: "100%"}
          %tr
            %td{width: "14%"} Comprobacion
            %td{width: "86%"}  
          %tr
            %td Mensaje
            %td  
    -#= will_paginate @prestaciones_liquidadas, :params => {controller: 'prestaciones_liquidadas', action: 'ver_prestaciones_liquidadas' },:inner_window => 2, :outer_window => 0