= form_for(@contacto) do |f|

  %h3.first-header Datos de identificación
  %div.field
    = f.label :apellidos
    = f.text_field :apellidos
  %div.field
    = f.label :nombres
    = f.text_field :nombres
  %div.field
    = f.label :mostrado, "Nombre mostrado*"
    = f.text_field :mostrado
  %div.field
    = f.label :sexo_id
    = f.select :sexo_id, options_for_select(@sexos, @sexo_id), {:include_blank => true}
  %div.field
    = f.label :dni
    = f.number_field :dni
  %div.field
    = f.label :email
    = f.email_field :email
  %div.field
    = f.label :email_adicional
    = f.email_field :email_adicional

  %h3 Domicilio
  %div.field
    = f.text_area :domicilio, :size => "80x5"

  %h3 Teléfonos
  %div.field
    = f.label :telefono
    = f.text_field :telefono
  %div.field
    = f.label :telefono_movil
    = f.text_field :telefono_movil

  %h3 Observaciones
  %div.field
    = f.text_area :observaciones, :size => "80x5"

  %div.actions
    - if @contacto.new_record?
      = f.submit "Crear el contacto"
      = link_to "Cancelar", contactos_url
    - else
      = f.submit "Modificar el contacto"
      = link_to "Cancelar", @contacto
