<div class="nested-fields">
  <div class="row">
    <div class="col-md-1">
      <label>Nombre <%= link_to "(Ver)", prestacion_path(f.object.id), target: "_blank" unless f.object.new_record? %></label>
    </div>
    <div class="col-md-7">
      <%= f.text_field :nombre, class: "large-input", disabled: (f.object.activa == false) %>    
    </div>
    <div class="col-md-2">
      <% unless f.object.new_record? or f.object.prestaciones_pdss.count > 1 or f.object.activa == false %>
        <button name="duplicar_prestacion_id" value="<%= f.object.id %>" type="submit">Duplicar</button>        
      <% end %>
      <%= "(Inactiva) " if f.object.activa == false %>
      <%= link_to_remove_association "Quitar", f %>
    </div>
  </div>
  <br>
  <div class="nested-fields-label-container">
    <div class="small-label">Sección pdss</div>
    <div class="small-label">Grupo pdss</div>
    <div class="small-label">Línea de cuidado</div>
    <div class="small-label">Módulo</div>
  </div>
  <div id="prestaciones_pdss">
    <%= f.fields_for :prestaciones_pdss do |prestacion_pdss|  %>
      <%= render 'prestacion_pdss_fields', f: prestacion_pdss, disabled: (f.object.activa == false) %>
    <% end %>
  </div>  
  <hr>
</div>