<% content_for :title do %>
  Prestaciones Principales
<% end %>

<div id="content-header">
  <h1>Prestaciones principales</h1>
  <div id="action-links">
    <%= link_to('<<  Volver al listado', prestaciones_principales_path) if can? :read, PrestacionPrincipal %>  
    <%= link_to 'Editar', edit_prestacion_principal_path(@prestacion_principal) if can? :manage, PrestacionPrincipal %>
  </div> 

</div>

<div id="content-body">
  <h3>Datos de la prestación</h3>
  <div class='field_content'>
    <span class='field_name'>Código</span>
    <span class='field_value'><%= @prestacion_principal.codigo %></span>
  </div>
  <div class='field_content'>
    <span class='field_name'>Nombre</span>
    <span class='field_value'><%= @prestacion_principal.nombre %></span>
  </div>
  <hr>
  <div class='field_content'>
    <span class='field_name'><b>Prestaciones</b></span>
    <%= render "prestaciones_pdss_en_tabla", prestaciones_pdss: @prestacion_principal.prestaciones_pdss %>
  </div>

  <hr>

<%= link_to 'Editar', edit_prestacion_principal_path(@prestacion_principal) if can? :manage, PrestacionPrincipal %>
</div>