- content_for :title do
  Documentos electronicos - Sumar
#content-header
  %h1 Informes de Liquidacion - Sumar
  #action-links
    -# if can? :create, LiquidacionSumar
      -#= link_to 'Nueva Liquidacion', new_liquidacion_sumar_path

#content-body
  %h2.first-header Buscar documentos electronicos
  = form_tag(documentos_electronicos_index_path, method:  :get) do 
    = dump_filter_parameters_as_hidden_fields(@efector_documentos)
    .field
      = label_tag "Efector:"
      = select_tag 'efector_id', options_for_select(@efectores, @efector_id), {:class => 'multi_select'}
    = submit_tag "Buscar"

  %br
  %br
  %h2.first-header= "#{@efector.nombre}"
  %h2.second-header Documentos referidos a Liquidaciones Sumar
  = render partial: 'grid', locals: {efector: @efector}
