= javascript_include_tag 'jstree.min.js'
= javascript_include_tag 'documentos_electronicos.js'
= stylesheet_link_tag 'jstree/style.min.css'
- content_for :title do
  Documentos electronicos - Sumar
#content-header
  %h1 Informes de Liquidacion - Sumar


#content-body
  #arbol
    = text_field_tag 'busqueda'
    - @arbol_de_efectores.each do |admin_u_hospital|
      %ul
        %li{id: "#{admin_u_hospital[:id]}"}
          = admin_u_hospital[:rotulo]
          - admin_u_hospital[:hijos].each do |administrado|
            %ul
              %li{id: "#{administrado[:id]}"}
                = administrado[:rotulo]
                - administrado[:hijos].each do |concepto|
                  %ul
                    %li{id: "#{concepto[:id]}"}
                      = concepto[:rotulo]
                      -concepto[:hijos].each do |periodo|
                        %ul
                          %li{id: "#{periodo[:id]}"}
                            = periodo[:rotulo]

  %h2.first-header Buscar documentos electronicos
  = form_tag(documentos_electronicos_index_path, method:  :get) do 
    = dump_filter_parameters_as_hidden_fields(@efector_documentos)
    .field
      = label_tag "Efector:"
      = select_tag 'efector_id', options_for_select(@efectores, @efector_id), {:class => 'multi_select'}
    = submit_tag "Buscar"

  %br
  %br
  - if @efector.present?
    %h2.first-header= "#{@efector.nombre}"
    %h2.second-header Documentos referidos a Liquidaciones Sumar
    = render partial: 'grid', locals: {efector: @efector}
