= javascript_include_tag "inicio.js"
- content_for :title do
  Sistema de gestión del seguro provincial / Programa Sumar Mendoza

#content-header
  %h1 Inicio

= render :partial => "shared/info"

#content-body

  %h2.first-header
    - if current_user.sexo_id == 1
      Bienvenida,
    - else
      Bienvenido,
    = current_user.nombre.mb_chars.titleize.to_s

  %p
    Su último acceso se realizó desde la IP
    = current_user.last_sign_in_ip
    el día
    = current_user.last_sign_in_at.strftime("%d/%m/%Y") + "."

  %p
    Puede comenzar a trabajar. Seleccione el módulo y operación deseados desde el menú superior.

  - if uad_actual.facturacion?
    
    %hr

    %h2.first-header ADVERTENCIAS

    %div.actions{:id => "seccion_info_notificaciones", :style => "display: block;"}
      %p= "En este periodo se han registrado " + @cantidad_notificaciones.to_s + " advertencias."
      #action-links= link_to "Mostrar", nil, method: :post, remote: true, onclick: "ShowNotificaciones();"
      %br
      %br

    %div.actions{:id => "seccion_ocultar_info_notificaciones", :style => "display: none;"}
      #action-links= link_to "Ocultar", nil, method: :post, remote: true, onclick: "HideNotificaciones();"
    
    %div.actions{:id => "seccion_notificaciones", :style => "display: none;"}
      = render :partial => "notificaciones", :locals => {:notificaciones => @notificaciones}