= javascript_include_tag "inicio.js"
- content_for :title do
  Sistema de gestión del seguro provincial / Programa Sumar Mendoza

#content-header
  %h1 Inicio

= render :partial => "shared/info"

#content-body

  %h2.first-header
    - if current_user.sexo_id == 1
      Bienvenida,
    - else
      Bienvenido,
    = current_user.nombre.mb_chars.titleize.to_s

  %p
    Su último acceso se realizó desde la IP
    = current_user.last_sign_in_ip
    el día
    = current_user.last_sign_in_at.strftime("%d/%m/%Y") + "."

  %p
    Puede comenzar a trabajar. Seleccione el módulo y operación deseados desde el menú superior.

  / ʌ ᴠ

  - if uad_actual.facturacion?

    %div{:style => "padding-top: 10px; padding-bottom: 5px; background-color: #0089cb;"}
      %h1.first-header{:style => "text-align: center; padding-top: 5px; color: #fff;"} NOVEDADES

    / %div.actions{:id => "seccion_info_notificaciones", :style => "display: block;"}
    /   %p= "En este periodo se han registrado " + @cantidad_advertencias.to_s + " advertencias."
    
    %div.actions{:id => "seccion_notificaciones", :style => "display: block;"}
      = render :partial => "notificaciones", :locals => {:notificaciones => @notificaciones}


    / <div style="margin:0;padding:0;display:inline">
    / <input name="utf8" type="hidden" value="&#x2713;" />
    / </div>
    / <input id="recherche" name="recherche" type="search" />
    / <input id="submit" type="submit" value="Recherche" />