- content_for :title do
  Modificación de la cuenta de usuario

#content-header
  %h1 Modificación de la cuenta de usuario

= render :partial => 'shared/info', :locals => { :registro => resource, :resource => resource }

#content-body
  %h2.first-header Datos registrados de la cuenta

  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :autocomplete => "off" }) do |f|

    %div.field
      = f.label :nombre
      = f.text_field :nombre, :style => "text-transform: uppercase;"

    %div.field
      = f.label :apellido
      = f.text_field :apellido, :style => "text-transform: uppercase;"

    %div.field
      = f.label :sexo_id
      = f.select :sexo_id, options_for_select(@sexos, resource.sexo_id), |
        {:include_blank => true} |

    %div.field
      = f.label :fecha_de_nacimiento
      = f.date_select :fecha_de_nacimiento, |
        {:start_year => Date.today.year - 70, :end_year => Date.today.year, |
        :include_blank => true}

    %div.field
      = f.label :email
      = f.email_field :email

    %div.field
      = f.label :password
      = f.password_field :password, :size => 40, :placeholder => "En blanco para mantener su contraseña actual"

    %div.field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, :size => 40,  :placeholder => "Repita la misma contraseña para confirmarla"

    %div.field
      = f.label :current_password
      = f.password_field :current_password, :size => 50, |
        :placeholder => "Es necesaria su contraseña actual para autorizar los cambios" |

    %div.actions
      = f.submit "Modificar los datos de la cuenta"
