- content_for :title do
  Administración de usuarios

#content-header
  %h1 Administración de usuarios

= render 'shared/info'

#content-body
  - if @new_users.size > 0
    %h2.first-header Nuevos usuarios registrados

    %table
      %thead
        %tr
          %th Nombre
          %th Dirección de correo
          %th Confirmada
          %th Envío de confirmación
      %tbody
        - @new_users.each do |u|
          - if u.confirmed_at
            - if can? :manage, User
              %tr.clickable{ :onclick => "location.href=\'#{edit_user_path(u)}\'", :title => "Modificar las autorizaciones de esta cuenta" }
                %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
                %td= u.email
                %td
                  Confirmada el
                  = u.confirmed_at.strftime("%d/%m/%Y %H:%M:%S")
                %td= u.confirmation_sent_at.strftime("%d/%m/%Y %H:%M:%S")
            - else
              %tr
                %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
                %td= u.email
                %td
                  Confirmada el
                  = u.confirmed_at.strftime("%d/%m/%Y %H:%M:%S")
                %td= u.confirmation_sent_at.strftime("%d/%m/%Y %H:%M:%S")
          - else
            %tr
              %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
              %td= u.email
              %td
                - if can? :manage, User
                  Sin confirmar, puede ser
                  = link_to "eliminada", u, :method => :delete, |
                  :confirm => "¿Confirma la eliminación de la cuenta?" |
                - if can? :read, User
                  Sin Confirmar
              %td= u.confirmation_sent_at.strftime("%d/%m/%Y %H:%M:%S")

    %h2 Usuarios registrados
  - else
    %h2.first-header Usuarios registrados

  %table
    %thead
      %tr
        %th Nombre
        %th Dirección de correo
        %th Grupos
        %th UAD
        %th Último ingreso
    %tbody
      - @users.each do |u|
        - if can? :manage, User
          %tr.clickable{ :onclick => "location.href=\'#{edit_user_path(u)}\'", :title => "Modificar las autorizaciones de esta cuenta" }
            %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
            %td= u.email
            %td= u.user_groups.collect{ |ug| [ug.user_group_name]}.join(", ")
            %td= u.unidades_de_alta_de_datos.collect{ |ug| [ug.nombre]}.join(", ")
            %td
              - if u.current_sign_in_at.nil? then
                No registra ningún ingreso
              - else
                = u.current_sign_in_at.strftime("%d/%m/%Y")
                - if not u.current_sign_in_ip.nil? then
                  = " (" + u.current_sign_in_ip + ")"
        - else
          %tr
            %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
            %td= u.email
            %td= u.user_groups.collect{ |ug| [ug.user_group_name]}.join(", ")
            %td= u.unidades_de_alta_de_datos.collect{ |ug| [ug.nombre]}.join(", ")
            %td
              - if u.current_sign_in_at.nil? then
                No registra ningún ingreso
              - else
                = u.current_sign_in_at.strftime("%d/%m/%Y")
                - if not u.current_sign_in_ip.nil? then
                  = " (" + u.current_sign_in_ip + ")"
