- content_for :title do
  Administración de usuarios

#content-header
  %h1 Administración de usuarios

= render 'shared/info'

#content-body
  %h2.first-header Usuarios registrados

  %table
    %thead
      %tr
        %th Nombre
        %th Dirección de correo
        %th Grupos
        %th UAD
        %th Último ingreso
    %tbody
      - @users.each do |u|
        %tr.clickable{ :onclick => "location.href=\'#{edit_user_path(u)}\'", :title => "Modificar las autorizaciones de esta cuenta" }
          %td= (u.nombre + " " + u.apellido).mb_chars.titleize.to_s
          %td= u.email
          %td= u.user_groups.collect{ |ug| [ug.user_group_name]}.join(", ")
          %td= u.unidades_de_alta_de_datos.collect{ |ug| [ug.nombre]}.join(", ")
          %td
            - if u.last_sign_in_at.nil? then
              No registra ningún ingreso
            - else
              = u.last_sign_in_at.strftime("%d/%m/%Y")
              - if not u.last_sign_in_ip.nil? then
                = " (" + u.last_sign_in_ip + ")"
