- content_for :title do
  Envío de instrucciones para restablecer la contraseña

#content-header
  %h1 Envío de instrucciones para restablecer la contraseña

= render :partial => 'shared/info', :locals => { :registro => resource, :resource => resource }

#content-body
  %h2.first-header Información para el envío

  = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|

    %div.field
      = f.label :email
      = f.email_field :email

    %div.actions
      = f.submit "Enviar las instrucciones"
