<%= form_for(@anexo_medico_prestacion) do |f| %>
  <% if @anexo_medico_prestacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@anexo_medico_prestacion.errors.count, "error") %> prohibited this anexo_medico_prestacion from being saved:</h2>

      <ul>
      <% @anexo_medico_prestacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :liquidacion_sumar_anexo_medico %><br />
    <%= f.text_field :liquidacion_sumar_anexo_medico %>
  </div>
  <div class="field">
    <%= f.label :prestacion_liquidada %><br />
    <%= f.text_field :prestacion_liquidada %>
  </div>
  <div class="field">
    <%= f.label :estado_de_la_prestacion %><br />
    <%= f.text_field :estado_de_la_prestacion %>
  </div>
  <div class="field">
    <%= f.label :motivo_de_rechazo %><br />
    <%= f.text_field :motivo_de_rechazo %>
  </div>
  <div class="field">
    <%= f.label :observaciones %><br />
    <%= f.text_area :observaciones %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
