<p id="notice"><%= notice %></p>

<p>
  <b>Liquidacion sumar anexo medico:</b>
  <%= @anexo_medico_prestacion.liquidacion_sumar_anexo_medico %>
</p>

<p>
  <b>Prestacion liquidada:</b>
  <%= @anexo_medico_prestacion.prestacion_liquidada %>
</p>

<p>
  <b>Estado de la prestacion:</b>
  <%= @anexo_medico_prestacion.estado_de_la_prestacion %>
</p>

<p>
  <b>Motivo de rechazo:</b>
  <%= @anexo_medico_prestacion.motivo_de_rechazo %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @anexo_medico_prestacion.observaciones %>
</p>


<%= link_to 'Edit', edit_anexo_medico_prestacion_path(@anexo_medico_prestacion) %> |
<%= link_to 'Back', anexos_medicos_prestaciones_path %>
