- content_for :title do
  Cuasifacturas Sumar
#content-header
  %h1 Cuasifacturas Sumar

#content-body
  = grid(@liquidaciones_sumar_cuasifacturas) do |g|
    - g.column :name => 'Número cuasifactura', :attribute => 'numero_cuasifactura'
    - g.column :name => 'Monto total', :attribute => 'monto_total'
    - g.column :name => 'Periodo de liquidación', :attribute => 'id'
    -# g.column :name => 'Title', :attribute => 'title'
    -# g.column  :name => 'Description', :attribute => 'description'
    -# g.column  :name => 'Archived', :attribute => 'archived' do |task|
      -# task.archived? ? 'Yes' : 'No'
    -# g.column   do |task|
      -# link_to('Edit', edit_task_path(task))


  %table
    %tr
      %th Periodo de liquidación
      %th Efector
      %th Concepto de liquidación
      %th Monto total
      %th Número cuasifactura
      %th Observaciones
      %th Acciones
    - @liquidaciones_sumar_cuasifacturas.each do |liquidacion_sumar_cuasifactura|
      %tr
        %td= liquidacion_sumar_cuasifactura.liquidacion_sumar.periodo.periodo
        %td= liquidacion_sumar_cuasifactura.efector.nombre
        %td= liquidacion_sumar_cuasifactura.liquidacion_sumar.periodo.concepto_de_facturacion.concepto
        %td= liquidacion_sumar_cuasifactura.monto_total
        %td= liquidacion_sumar_cuasifactura.numero_cuasifactura
        %td= liquidacion_sumar_cuasifactura.observaciones
        %td= link_to 'Ver', liquidacion_sumar_cuasifactura_path(liquidacion_sumar_cuasifactura, format: 'pdf')
        



