<p id="notice"><%= notice %></p>

<p>
  <b>Liquidacion sumar:</b>
  <%= @liquidacion_sumar_cuasifactura.liquidacion_sumar %>
</p>

<p>
  <b>Efector:</b>
  <%= @liquidacion_sumar_cuasifactura.efector %>
</p>

<p>
  <b>Monto total:</b>
  <%= @liquidacion_sumar_cuasifactura.monto_total %>
</p>

<p>
  <b>Número cuasifactura:</b>
  <%= @liquidacion_sumar_cuasifactura.numero_cuasifactura %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @liquidacion_sumar_cuasifactura.observaciones %>
</p>


<%= link_to 'Edit', edit_liquidacion_sumar_cuasifactura_path(@liquidacion_sumar_cuasifactura) %> |
<%= link_to 'Back', liquidaciones_sumar_cuasifacturas_path %>
