<%= form_for(@liquidacion_sumar_anexo_administrativo) do |f| %>
  <% if @liquidacion_sumar_anexo_administrativo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidacion_sumar_anexo_administrativo.errors.count, "error") %> prohibited this liquidacion_sumar_anexo_administrativo from being saved:</h2>

      <ul>
      <% @liquidacion_sumar_anexo_administrativo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :references %><br />
    <%= f.text_field :references %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
