<h1>Listing liquidaciones_sumar_anexos_administrativos</h1>

<table>
  <tr>
    <th>References</th>
    <th>Date</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @liquidaciones_sumar_anexos_administrativos.each do |liquidacion_sumar_anexo_administrativo| %>
  <tr>
    <td><%= liquidacion_sumar_anexo_administrativo.references %></td>
    <td><%= liquidacion_sumar_anexo_administrativo.date %></td>
    <td><%= liquidacion_sumar_anexo_administrativo.date %></td>
    <td><%= link_to 'Show', liquidacion_sumar_anexo_administrativo %></td>
    <td><%= link_to 'Edit', edit_liquidacion_sumar_anexo_administrativo_path(liquidacion_sumar_anexo_administrativo) %></td>
    <td><%= link_to 'Destroy', liquidacion_sumar_anexo_administrativo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Liquidacion sumar anexo administrativo', new_liquidacion_sumar_anexo_administrativo_path %>
