<p id="notice"><%= notice %></p>

<p>
  <b>References:</b>
  <%= @liquidacion_sumar_anexo_administrativo.references %>
</p>

<p>
  <b>Date:</b>
  <%= @liquidacion_sumar_anexo_administrativo.date %>
</p>

<p>
  <b>Date:</b>
  <%= @liquidacion_sumar_anexo_administrativo.date %>
</p>


<%= link_to 'Edit', edit_liquidacion_sumar_anexo_administrativo_path(@liquidacion_sumar_anexo_administrativo) %> |
<%= link_to 'Back', liquidaciones_sumar_anexos_administrativos_path %>
