<%= form_for(@documento_generable_por_concepto) do |f| %>
  <% if @documento_generable_por_concepto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@documento_generable_por_concepto.errors.count, "error") %> prohibited this documento_generable_por_concepto from being saved:</h2>

      <ul>
      <% @documento_generable_por_concepto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :concepto_de_facturacion %><br />
    <%= f.text_field :concepto_de_facturacion %>
  </div>
  <div class="field">
    <%= f.label :documento_generable %><br />
    <%= f.text_field :documento_generable %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_agrupacion %><br />
    <%= f.text_field :tipo_de_agrupacion %>
  </div>
  <div class="field">
    <%= f.label :report_layout %><br />
    <%= f.text_field :report_layout %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
