<h1>Listing documentos_generables_por_conceptos</h1>

<table>
  <tr>
    <th>Concepto de facturacion</th>
    <th>Documento generable</th>
    <th>Tipo de agrupacion</th>
    <th>Report layout</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @documentos_generables_por_conceptos.each do |documento_generable_por_concepto| %>
  <tr>
    <td><%= documento_generable_por_concepto.concepto_de_facturacion %></td>
    <td><%= documento_generable_por_concepto.documento_generable %></td>
    <td><%= documento_generable_por_concepto.tipo_de_agrupacion %></td>
    <td><%= documento_generable_por_concepto.report_layout %></td>
    <td><%= link_to 'Show', documento_generable_por_concepto %></td>
    <td><%= link_to 'Edit', edit_documento_generable_por_concepto_path(documento_generable_por_concepto) %></td>
    <td><%= link_to 'Destroy', documento_generable_por_concepto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Documento generable por concepto', new_documento_generable_por_concepto_path %>
