- content_for :title do
  Convenios de gestión Sumar

#content-header
  %h1 Convenios de gestión Sumar
  - if can? :create, ConvenioDeGestionSumar
    #action-links
      = link_to "Agregar un convenio", new_convenio_de_gestion_sumar_path

= render :partial => "shared/info"

#content-body
  %h2.first-header Listado de convenios de gestión Sumar

  %table
    %thead
      %tr
        %th Convenio
        %th Efector
        %th Inicio
        - if current_user.in_group? [:facturacion, :convenios, :auditoria_control, :contabilidad, :liquidacion_uad]
          %th Última modificación
    %tbody
      - @convenios_de_gestion.each do |c|
        %tr.clickable{ |
          :onclick => "location.href=\'#{convenio_de_gestion_sumar_path(c)}\'", :title => "Ver detalles del convenio #{c.numero}" } |
          %td= c.numero
          %td= c.efector.nombre
          %td= c.fecha_de_inicio.strftime("%d/%m/%Y")
          - if current_user.in_group? [:facturacion, :convenios, :auditoria_control, :contabilidad, :liquidacion_uad]
            %td= c.updated_at.strftime("%d/%m/%Y %H:%M:%S")
  = will_paginate @convenios_de_gestion, :inner_window => 2, :outer_window => 0
