#content-header
  %h1 Listado de detalle de rendion del efector:
  #action-links
    = link_to 'Volver', rendiciones_path
#content-body
  %div.field_content 
    %span.field_name Efector:
    %span.field_value= @rendicion.efector.nombre
  %div.field_content 
    %span.field_name Periodo de rendicion:
    %span.field_value= @rendicion.periodo_de_rendicion.nombre
  %div.field_content 
    %span.field_name Estado de rendicion:
    %span.field_value= @rendicion.estado_de_rendicion.nombre
  %div.field_content 
    %span.field_name Observaciones:
    %span.field_value= @rendicion.observaciones
  %hr{width:"100%"}
    %table
      %tr
        %th Fecha
        %th Nro factura
        %th Detalle
        %th Cant
        %th Nro cheque
        %th Tipo gasto
        %th Importe gasto
      - @rendicion.rendiciones_detalles.each do |rendicion_detalle|
        %tr
          %td= rendicion_detalle.fecha.strftime("%d-%m-%Y")
          %td= rendicion_detalle.nro_factura
          %td= rendicion_detalle.detalle
          %td= rendicion_detalle.cant
          %td= rendicion_detalle.nro_cheque
          %td= rendicion_detalle.tipo_de_gasto.nombre
          %td= rendicion_detalle.importe_gasto
    %hr{width:"100%"}
