%h1 Convenios de administración

%p#notice= notice

%table
  %thead
    %tr
      %th Convenio
      %th Efector
      %th Administrador
      %th Inicio
      %th Finalización
  %tbody
    - @convenios_de_administracion.each do |c|
      %tr.clickable{ :onclick => "location.href=\'#{convenio_de_administracion_path(c)}\'", :title => "Ver detalles del convenio #{c.numero}" }
        %td= c.numero
        %td= c.efector.nombre
        %td= c.administrador.nombre
        %td= c.fecha_de_inicio.strftime("%d/%m/%Y")
        %td= c.fecha_de_finalizacion.strftime("%d/%m/%Y")
= will_paginate @convenios_de_administracion, :inner_window => 2, :outer_window => 0

- content_for :sidebar do
  %h2 Tareas
  %ul
    - if can? :create, ConvenioDeAdministracion
      %li= link_to "Agregar un convenio", new_convenio_de_administracion_url
