<h1>Listing parametros_liquidaciones_sumar</h1>

<table>
  <tr>
    <th>Dias de prestacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @parametros_liquidaciones_sumar.each do |parametro_liquidacion_sumar| %>
  <tr>
    <td><%= parametro_liquidacion_sumar.dias_de_prestacion %></td>
    <td><%= link_to 'Show', parametro_liquidacion_sumar %></td>
    <td><%= link_to 'Edit', edit_parametro_liquidacion_sumar_path(parametro_liquidacion_sumar) %></td>
    <td><%= link_to 'Destroy', parametro_liquidacion_sumar, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Parametro liquidacion sumar', new_parametro_liquidacion_sumar_path %>
