<p id="notice"><%= notice %></p>

<p>
  <b>Liquidaciones sumar cuasifacturas:</b>
  <%= @liquidacion_sumar_cuasifactura_detalle.liquidaciones_sumar_cuasifacturas %>
</p>

<p>
  <b>Prestacion incluida:</b>
  <%= @liquidacion_sumar_cuasifactura_detalle.prestacion_incluida %>
</p>

<p>
  <b>Estado de la prestacion:</b>
  <%= @liquidacion_sumar_cuasifactura_detalle.estado_de_la_prestacion %>
</p>

<p>
  <b>Monto:</b>
  <%= @liquidacion_sumar_cuasifactura_detalle.monto %>
</p>

<p>
  <b>Observaciones:</b>
  <%= @liquidacion_sumar_cuasifactura_detalle.observaciones %>
</p>


<%= link_to 'Edit', edit_liquidacion_sumar_cuasifactura_detalle_path(@liquidacion_sumar_cuasifactura_detalle) %> |
<%= link_to 'Back', liquidaciones_sumar_cuasifacturas_detalles_path %>
