#content-header
  %h1 Informes de debitos prestacionales
  #action-links
    - if can? :create, InformeDebitoPrestacional
      = link_to "Nuevo Informe",new_informe_debito_prestacional_path

-# Lista todos los informes disponibles
#content-body
  %h2 Listado de informes de debitos prestacionales
  %table
    %tr
      %th Número
      %th Concepto de facturacion
      %th Efector
      %th Tipo de debito prestacional
      %th Estado del proceso
      %th Procesado para debito
      %th Informado sirge
    - @informes_debitos_prestacionales.each do |informe_debitos_prestacionales|
      %tr.clickable{ :onclick => "location.href=\'#{informe_debito_prestacional_path(informe_debitos_prestacionales)}\'", :title => "Modificar las autorizaciones de esta cuenta" }
        %td= informe_debitos_prestacionales.id
        %td= informe_debitos_prestacionales.concepto_de_facturacion.concepto
        %td= informe_debitos_prestacionales.efector.nombre
        %td= informe_debitos_prestacionales.tipo_de_debito_prestacional.nombre
        %td= informe_debitos_prestacionales.estado_del_proceso.nombre
        %td= informe_debitos_prestacionales.procesado_para_debito ? 'Si' : 'No'
        %td= informe_debitos_prestacionales.informado_sirge ? 'Si' : 'No'
%br/
