<h1>Listing informes_debitos_prestacionales</h1>

<table>
  <tr>
    <th>Informado sirge</th>
    <th>Procesado para debito</th>
    <th>Concepto de facturacion</th>
    <th>Efector</th>
    <th>Tipo de debito prestacional</th>
    <th>Estado del proceso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @informes_debitos_prestacionales.each do |inform_debito_prestacional| %>
  <tr>
    <td><%= inform_debito_prestacional.informado_sirge %></td>
    <td><%= inform_debito_prestacional.procesado_para_debito %></td>
    <td><%= inform_debito_prestacional.concepto_de_facturacion %></td>
    <td><%= inform_debito_prestacional.efector %></td>
    <td><%= inform_debito_prestacional.tipo_de_debito_prestacional %></td>
    <td><%= inform_debito_prestacional.estado_del_proceso %></td>
    <td><%= link_to 'Show', inform_debito_prestacional %></td>
    <td><%= link_to 'Edit', edit_inform_debito_prestacional_path(inform_debito_prestacional) %></td>
    <td><%= link_to 'Destroy', inform_debito_prestacional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Informe debito prestacional', new_inform_debito_prestacional_path %>
