#content-header
  %h1 Informes de debitos prestacionales - Detalle
  #action-links
    - if can? :read, InformeDebitoPrestacional
      = link_to '<< Volver al listado', informes_debitos_prestacionales_path
    - if can? :update, InformeDebitoPrestacional and @informe_debito_prestacional.estado_del_proceso.codigo =='N'
      = link_to 'Editar', edit_informe_debito_prestacional_path(@informe_debito_prestacional)
    - if can? [:create, :update], DetalleDeDebitoPrestacional
      - if @informe_debito_prestacional.estado_del_proceso.codigo =='N' #Si no se ha iniciado el proceso
        = link_to 'Iniciar y cargar debitos', iniciar_informe_debito_prestacional_path(@informe_debito_prestacional), method: :put
      - elsif @informe_debito_prestacional.estado_del_proceso.codigo =='C'
        = link_to 'Cargar débitos', informe_debito_prestacional_detalles_de_debitos_prestacionales_path(@informe_debito_prestacional)
    - if can? :delete, InformeDebitoPrestacional and @informe_debito_prestacional.estado_del_proceso.codigo =='N'
      = link_to 'Eliminar informe', @informe_debito_prestacional, method: :delete, data: { confirm: '¿Está seguro que desea eliminar la prestación del informe de debito?' }

= render :partial => "shared/info", :locals => { :registro => @informe_debito_prestacional }

#content-body
  %div.field_content 
    %span.field_name Efector:
    %span.field_value= @informe_debito_prestacional.efector.nombre

  %div.field_content
    %span.field_name Concepto de facturación:
    %span.field_value= @informe_debito_prestacional.concepto_de_facturacion.concepto
  
  %div.field_content 
    %span.field_name Tipo de débito prestacional:
    %span.field_value= @informe_debito_prestacional.tipo_de_debito_prestacional.nombre
  
  %div.field_content 
    %span.field_name Estado del proceso:
    %span.field_value= @informe_debito_prestacional.estado_del_proceso.nombre

  %div.field_content
    %span.field_name Informado SIRGE:
    %span.field_value=  @informe_debito_prestacional.informado_sirge ? 'Si' : 'No'

  %div.field_content 
    %span.field_name Procesado para débito:
    %span.field_value= @informe_debito_prestacional.procesado_para_debito ? 'Si' : 'No'
  %br/
  
  












