<p id="notice"><%= notice %></p>

<p>
  <b>Informado sirge:</b>
  <%= @informe_debito_prestacional.informado_sirge %>
</p>

<p>
  <b>Procesado para debito:</b>
  <%= @informe_debito_prestacional.procesado_para_debito %>
</p>

<p>
  <b>Concepto de facturacion:</b>
  <%= @informe_debito_prestacional.concepto_de_facturacion.concepto %>
</p>

<p>
  <b>Efector:</b>
  <%= @informe_debito_prestacional.efector.nombre %>
</p>

<p>
  <b>Tipo de debito prestacional:</b>
  <%= @informe_debito_prestacional.tipo_de_debito_prestacional.nombre %>
</p>

<p>
  <b>Estado del proceso:</b>
  <%= @informe_debito_prestacional.estado_del_proceso.nombre %>
</p>



