= form_for(@efector) do |f|
  - if @efector.errors.any?
    #error_explanation
      %h2= pluralize(@efector.errors.count, "error impide").to_s + " que se guarde la información de este efector."
      %ul
        - @efector.errors.full_messages.each do |msg|
          %li= msg
  %h3 Identificación del efector
  %div.field
    = f.label :cuie
    %br/
    = f.text_field :cuie
  %div.field
    = f.label :efector_sissa_id
    %br/
    = f.number_field :efector_sissa_id
  %div.field
    = f.label :efector_bio_id
    %br/
    = f.number_field :efector_bio_id
  %div.field
    = f.label :nombre
    %br/
    = f.text_field :nombre
  %div.field
    = f.label :domicilio
    %br/
    = f.text_field :domicilio
  %div.field
    = f.label :departamento_id
    %br/
    = f.select :departamento_id, options_for_select(@departamentos, @departamento_id), {:include_blank => true}
  %div.field
    = f.label :distrito_id
    %br/
    = f.select :distrito_id, options_for_select(@distritos, @distrito_id), {:include_blank => true}
  %div.field
    = f.label :codigo_postal
    %br/
    = f.text_field :codigo_postal
  %div.field
    = f.label :latitud
    %br/
    = f.text_field :latitud
  %div.field
    = f.label :longitud
    %br/
    = f.text_field :longitud
  %div.field
    = f.label :telefonos
    %br/
    = f.text_field :telefonos
  %div.field
    = f.label :email
    %br/
    = f.text_field :email
  %div.field
    = f.label :grupo_de_efectores_id
    %br/
    = f.select :grupo_de_efectores_id, options_for_select(@grupos_de_efectores, @grupo_de_efectores_id), {:include_blank => true}
  %div.field
    = f.label :area_de_prestacion_id
    %br/
    = f.select :area_de_prestacion_id, options_for_select(@areas_de_prestacion, @area_de_prestacion_id), {:include_blank => true}
  %div.field
    = f.label :camas_de_internacion
    %br/
    = f.number_field :camas_de_internacion
  %div.field
    = f.label :ambientes
    %br/
    = f.number_field :ambientes
  %div.field
    = f.label :dependencia_administrativa_id
    %br/
    = f.select :dependencia_administrativa_id, options_for_select(@dependencias_administrativas, @dependencia_administrativa_id), {:include_blank => true}
  %div.field
    = f.label :integrante
    %br/
    = f.check_box :integrante
  %div.field
    = f.label :evaluacion_de_impacto
    %br/
    = f.check_box :evaluacion_de_impacto
  %div.field
    = f.label :observaciones
    %br/
    = f.text_area :observaciones
  %div.actions
    - if @efector.new_record? then
      = f.submit "Crear efector"
    - else
      = f.submit "Actualizar los datos del efector"
