- content_for :title do
  Prestaciones autorizadas del efector

#content-header
  %h1 Prestaciones autorizadas del efector
  #action-links
    - if can? :create, Addenda
      - if @efector.convenio_de_gestion_sumar
        = link_to "Agregar una adenda", new_addenda_sumar_path(:convenio_de_gestion_sumar_id => @efector.convenio_de_gestion_sumar.id)
      - elsif @efector.convenio_de_gestion
        = link_to "Agregar una adenda", new_addenda_path(:convenio_de_gestion_id => @efector.convenio_de_gestion.id)

= render :partial => "shared/info"

#content-body
  %h3 Efector
  %div.field_content
    - if !@efector.cuie.blank?
      %span.field_value= @efector.cuie + " - " + @efector.nombre
    - else
      %span.field_value= @efector.nombre + " (el CUIE aún no se ha asignado)"
    = link_to "Ver detalles del efector", @efector

  - if @efector.prestaciones_autorizadas_al_dia(Date.today).any?
    %h2
      Prestaciones autorizadas al
      = Date.today.strftime("%d/%m/%Y")
    - @efector.prestaciones_autorizadas_pdss_al_dia(Date.today).each do |grupo|
      %h4.grupo_pdss= (grupo["codigo"].present? ? grupo["codigo"] + ") " : "") + grupo["nombre"]
      - if grupo.has_key? :subgrupos
        - grupo[:subgrupos].each do |subgrupo|
          %h4.subgrupo_pdss= (subgrupo["codigo"].present? ? subgrupo["codigo"] + ") " : "") + subgrupo["nombre"]
          - if subgrupo.has_key? :apartados
            - subgrupo[:apartados].each do |apartado|
              %h4.apartado_pdss= (apartado["codigo"].present? ? apartado["codigo"] + ") " : "") + apartado["nombre"]
              = render :partial => "tabla_prestaciones_pdss", :locals => {:prestaciones => apartado[:prestaciones]}
          - else
            = render :partial => "tabla_prestaciones_pdss", :locals => {:prestaciones => subgrupo[:prestaciones]}
      - else
        = render :partial => "tabla_prestaciones_pdss", :locals => {:prestaciones => grupo[:prestaciones]}
  - else
    No hay información sobre las prestaciones autorizadas para el convenio
