- content_for :title do
  Información detallada del efector

#content-header
  %h1 Información detallada del efector
  #action-links
    - if can? :update, Efector
      = link_to "Modificar el efector", edit_efector_path(@efector)
    - if can? :read, Referente
      = link_to "Ver referentes", referentes_del_efector_path(@efector)
    - if can?(:read, @efector) && @efector.tiene_convenio?
      = link_to "Ver prestaciones autorizadas", prestaciones_autorizadas_del_efector_path(@efector)

= render :partial => "shared/info"

#content-body
  %h3 Datos de identificación
  %div.field_content
    %span.field_name CUIE
    - if !@efector.cuie.blank?
      %span.field_value= @efector.cuie
    - else
      %span.field_empty Aún no se ha asignado un CUIE
  %div.field_content
    %span.field_name Nombre
    %span.field_value= @efector.nombre

  %h3 Códigos de identificación en otros sistemas
  %div.field_content
    %span.field_name Código SISA
    - if !@efector.codigo_de_efector_sissa.blank?
      %span.field_value= @efector.codigo_de_efector_sissa
    - else
      %span.field_empty No se ha ingresado el código de efector SISA
  %div.field_content
    %span.field_name Código para bioestadística
    - if !@efector.codigo_de_efector_bio.blank?
      %span.field_value= @efector.codigo_de_efector_bio
    - else
      %span.field_empty No se ha ingresado el código de efector de bioestadística

  %h3 Convenios
  - if @efector.convenio_de_gestion_sumar
    %div.field_content
      %span.field_name Convenio de gestión Sumar
      %span.field_value= @efector.convenio_de_gestion_sumar.numero
      - if can? :read, @efector.convenio_de_gestion_sumar
        = link_to "Ver detalles del convenio", @efector.convenio_de_gestion_sumar
    - if @efector.convenio_de_administracion_sumar
      %div.field_content
        %span.field_name Administrado por un tercero
        %span.field_value Sí
      %div.field_content
        %span.field_name Convenio de administración Sumar
        %span.field_value= @efector.convenio_de_administracion_sumar.numero
        - if can? :read, @efector.convenio_de_administracion_sumar
          = link_to "Ver detalles del convenio", @efector.convenio_de_administracion_sumar
      %div.field_content
        %span.field_name Administrador
        %span.field_value= @efector.administrador_sumar.cuie.to_s + " - " + @efector.administrador_sumar.nombre_corto
        - if can? :read, @efector.administrador_sumar
          = link_to "Ver detalles del efector", @efector.administrador_sumar
    - else
      %div.field_content
        %span.field_name Administrado por un tercero
        %span.field_value No
  - elsif @efector.convenio_de_gestion
    %div.field_content
      %span.field_name Convenio de gestión
      %span.field_value= @efector.convenio_de_gestion.numero
      = link_to "Ver detalles del convenio", @efector.convenio_de_gestion
    - if @efector.convenio_de_administracion
      %div.field_content
        %span.field_name Administrado por un tercero
        %span.field_value Sí
      %div.field_content
        %span.field_name Convenio de administración
        %span.field_value= @efector.convenio_de_administracion.numero
        = link_to "Ver detalles del convenio", @efector.convenio_de_administracion
      %div.field_content
        %span.field_name Administrador
        %span.field_value= @efector.administrador.cuie + " - " + @efector.administrador.nombre_corto
        = link_to "Ver detalles del efector", @efector.administrador
    - else
      %div.field_content
        %span.field_name Administrado por un tercero
        %span.field_value No
  - else
    %div.infobox-advertencia.no-margin
      %h3 El efector no ha suscrito un convenio de gestión

  %h3 Domicilio, correo electrónico y teléfonos
  %div.field_content
    %span.field_name Domicilio
    - if !@efector.domicilio.blank?
      %span.field_value= @efector.domicilio
    - else
      %span.field_empty No se ha ingresado el domicilio
  %div.field_content
    %span.field_name Departamento
    - if @efector.departamento_id
      %span.field_value= @efector.departamento.nombre
    - else
      %span.field_empty No se ha indicado el departamento
  %div.field_content
    %span.field_name Distrito
    - if @efector.distrito_id
      %span.field_value= @efector.distrito.nombre
    - else
      %span.field_empty No se ha indicado el distrito
  %div.field_content
    %span.field_name Código postal
    - if !@efector.codigo_postal.blank?
      %span.field_value= @efector.codigo_postal
    - else
      %span.field_empty No se ha ingresado el código postal
  %div.field_content
    %span.field_name Latitud
    - if !@efector.latitud.blank?
      %span.field_value= @efector.latitud
    - else
      %span.field_empty No se ha ingresado la latitud
  %div.field_content
    %span.field_name Longitud
    - if !@efector.longitud.blank?
      %span.field_value= @efector.longitud
    - else
      %span.field_empty No se ha ingresado la longitud
  %div.field_content
    %span.field_name Dirección de correo electrónico
    - if !@efector.email.blank?
      %span.field_value= @efector.email
    - else
      %span.field_empty No se ha ingresado la dirección de correo electrónico
  %div.field_content
    %span.field_name Teléfonos
    - if !@efector.telefonos.blank?
      %span.field_value= @efector.telefonos
    - else
      %span.field_empty No se ha ingresado ningún número de teléfono

  %h3 Categorización
  %div.field_content
    %span.field_name Grupo de efectores
    - if @efector.grupo_de_efectores_id
      %span.field_value= @efector.grupo_de_efectores.nombre
    - else
      %span.field_empty No se ha indicado el grupo de efectores al que pertenece
  %div.field_content
    %span.field_name Área de prestación
    - if @efector.area_de_prestacion_id
      %span.field_value= @efector.area_de_prestacion.nombre
    - else
      %span.field_empty No se ha indicado el área de prestación al que pertenece
  %div.field_content
    %span.field_name Dependencia administrativa
    - if @efector.dependencia_administrativa_id
      %span.field_value= @efector.dependencia_administrativa.nombre
    - else
      %span.field_empty No se ha indicado la dependencia administrativa
  %div.field_content
    %span.field_name Integrante
    - if @efector.integrante
      %span.field_value Sí
    - else
      %span.field_value No
  %div.field_content
    %span.field_name Efector priorizado
    - if @efector.alto_impacto
      %span.field_value Sí
    - else
      %span.field_value No

  - if !@efector.convenio_de_gestion_sumar
    %h3 Alta complejidad perinatal
    - if @efector.perinatal_de_alta_complejidad
      %div.field_content
        %span.field_name Habilitado
        %span.field_value Sí
      - if @efector.addenda_perinatal
        %div.field_content
          %span.field_name Adenda perinatal
          %span.field_value Sí
        - if @efector.fecha_de_addenda_perinatal
          %div.field_content
            %span.field_name Fecha de la adenda
            %span.field_value= @efector.fecha_de_addenda_perinatal.strftime("%d/%m/%Y")
        - else
          %div.field_content
            %span.field_name Fecha de la adenda
            %span.field_empty No se ingresó la fecha de la adenda
      - else
        %div.field_content
          %span.field_name Adenda perinatal
          %span.field_value No
    - else
      %div.field_content
        %span.field_name Habilitado
        %span.field_value No

  -#
    %h3 Infraestructura
    %div.field_content
      %span.field_name Camas de internación
      - if !@efector.camas_de_internacion.blank?
        %span.field_value= @efector.camas_de_internacion
      - else
        %span.field_empty No se ha ingresado la cantidad de camas de internación
    %div.field_content
      %span.field_name Ambientes
      - if !@efector.ambientes.blank?
        %span.field_value= @efector.ambientes
      - else
        %span.field_empty No se ha ingresado la cantidad de ambientes

  - if current_user.in_group? [:facturacion, :convenios, :auditoria_control, :contabilidad, :liquidacion_uad]
    %h3 Datos de facturación
    %div.field_content
      %span.field_name CUIT
      - if !@efector.cuit.blank?
        %span.field_value= @efector.cuit
      - else
        %span.field_empty No se ha ingresado el número de CUIT
    %div.field_content
      %span.field_name Condición ante el IVA
      - if !@efector.condicion_iva.blank?
        %span.field_value= @efector.condicion_iva
      - else
        %span.field_empty No se ha ingresado la condición ante el IVA
    %div.field_content
      %span.field_name Fecha de inicio de actividades
      - if !@efector.fecha_inicio_de_actividades.blank?
        %span.field_value= @efector.fecha_inicio_de_actividades.strftime("%Y-%m-%d")
      - else
        %span.field_empty No se ha ingresado la fecha de inicio de actividades
    %div.field_content
      %span.field_name Condición ante II.BB.
      - if !@efector.condicion_iibb.blank?
        %span.field_value= @efector.condicion_iibb
      - else
        %span.field_empty No se ha ingresado la condición ante II.BB.
    %div.field_content
      %span.field_name Datos bancarios
      - if !@efector.datos_bancarios.blank?
        %span.field_value= @efector.datos_bancarios
      - else
        %span.field_empty No se han ingresado los datos bancarios

    %h3 Cuentas bancarias

    %h4 Cuenta bancaria principal
    %div.field_content
      %span.field_name Banco
      - if !@efector.banco_cuenta_principal.blank?
        %span.field_value= @efector.banco_cuenta_principal
      - else
        %span.field_empty No se ha ingresado el banco al que pertenece la cuenta principal
    %div.field_content
      %span.field_name Número de cuenta
      - if !@efector.numero_de_cuenta_principal.blank?
        %span.field_value= @efector.numero_de_cuenta_principal
      - else
        %span.field_empty No se ha ingresado el número de la cuenta principal
    %div.field_content
      %span.field_name Denominación de cuenta
      - if !@efector.denominacion_cuenta_principal.blank?
        %span.field_value= @efector.denominacion_cuenta_principal
      - else
        %span.field_empty No se ha ingresado la denominación de la cuenta principal
    %div.field_content
      %span.field_name Sucursal
      - if !@efector.sucursal_cuenta_principal.blank?
        %span.field_value= @efector.sucursal_cuenta_principal
      - else
        %span.field_empty No se ha ingresado la sucursal a la que pertenece la cuenta principal

    %h4 Cuenta bancaria secundaria
    %div.field_content
      %span.field_name Banco
      - if !@efector.banco_cuenta_secundaria.blank?
        %span.field_value= @efector.banco_cuenta_secundaria
      - else
        %span.field_empty No se ha ingresado el banco al que pertenece la cuenta secundaria
    %div.field_content
      %span.field_name Número de cuenta
      - if !@efector.numero_de_cuenta_secundaria.blank?
        %span.field_value= @efector.numero_de_cuenta_secundaria
      - else
        %span.field_empty No se ha ingresado el número de la cuenta secundaria
    %div.field_content
      %span.field_name Denominación de cuenta
      - if !@efector.denominacion_cuenta_secundaria.blank?
        %span.field_value= @efector.denominacion_cuenta_secundaria
      - else
        %span.field_empty No se ha ingresado la denominación de la cuenta secundaria
    %div.field_content
      %span.field_name Sucursal
      - if !@efector.sucursal_cuenta_secundaria.blank?
        %span.field_value= @efector.sucursal_cuenta_secundaria
      - else
        %span.field_empty No se ha ingresado la sucursal a la que pertenece la cuenta secundaria

  %h3 Observaciones
  %div.field_content
    - if !@efector.observaciones.blank?
      %span.field_value_multiline
        - @efector.observaciones.split("\n").each do |linea|
          = linea
          %br/
    - else
      %span.field_empty No se han ingresado observaciones para el efector
