#wizard.swMain
  %ul
    %li
      %a{:href => "#paso-1"}
        %label.stepNumber 1
        %span.stepDesc.medium
          Efector y
          %br/
          Concepto 
    %li
      %a{:href => "#paso-2"}
        %label.stepNumber 2
        %span.stepDesc
          Informes y 
          %br/
          notas de debito
    %li
      %a{:href => "#paso-3"}
        %label.stepNumber 3
        %span.stepDesc
          Cuentas 
          %br/
          Bancarias 
    %li
      %a{:href => "#paso-4"}
        %label.stepNumber 4
        %span.stepDesc
          Resumen
          %br/
  / = form_for(@pago_sumar) do |f|
  #paso-1
    %h2.StepTitle Seleccione el efector y concepto de facturación a pagar
    #tarjeta.chkbox
      %table{style: "width: 100%"}
        %tr{width: "30%"}
          %td{rowspan: "3", style: "border-bottom-style: solid;"}
            -# cantidad de informes +1 (que es el total)
            %h2 Expediente 
            %br
            %h2 S/000110132 Periodo 2014-11
          %td= "Informe de Liquidación Nº #{@e.liquidaciones_informes.first.id}" #nombre del informe
          %td= "Aprobado $20000" # TOTAL APROBADO
        %tr{width: "50%"} 
          %td= "Informe de Liquidación Nº #{@e.liquidaciones_informes.first.id} | #{@e.liquidaciones_informes.first.liquidacion_sumar.periodo.periodo} " # SEGUNDO INFORME EN ADELANTE
          %td Aprobado $20000
        %tr{width: "20%"}
          %td{colspan: 2, style: "text-align: right"} TOTAL $20000
    = form_for(@pago_sumar) do |f|
      .field
        = f.label :efector
        = f.select :efector_id, @efectores, {include_blank: true}, {class: 'select2', style: "width: 300px", data: {placeholder: 'Seleccione el efector' }}
      .field
        = f.label :concepto_de_facturacion
        = f.select :concepto_de_facturacion_id, @conceptos_de_facturacion, {include_blank: true}, {class: 'select2', style: "width: 300px", data: {placeholder: 'Seleccione el concepto de facturacion a pagar'}}
  #paso-2
    %h2.StepTitle Seleccione los informes de liquidacion y notas de debito a incluir
    #content-body

      = form_for(@pago_sumar) do |f|
        .field 
          = f.label "Expedientes"
          = f.hidden_field :expedientes_sumar, class: 'select2 ajax dependiente', data: { source: impagos_por_efector_expedientes_sumar_path, placeholder: 'Seleccione los expedientes a pagar', coleccion: 'prestaciones', id_padre: 'pago_sumar_efector_id, pago_sumar_concepto_de_facturacion_id', parametro: 'efetor_id', parametros_adicionales: "", funcion_de_formato: "maquetaExpedientes", funcion_de_formato_seleccionada: "maquetaExpedientesSeleccionados" }
          -#= f.hidden_field :expedientes_sumar, class: 'select2 ajax encadenado', data: { source: impagos_por_efector_expedientes_sumar_path, placeholder: 'Seleccione los expedientes a pagar', coleccion: 'prestaciones', id_padre: 'pago_sumar_efector_id', parametro: 'efetor_id', parametros_adicionales: "#efector_id: #{@informe_de_debito.efector.id}, concepto_de_facturacion_id: #{@informe_de_debito.concepto_de_facturacion.id}", funcion_de_formato: "maquetaPrestaciones", funcion_de_formato_seleccionada: "seleccionaPrestacion" }

  #paso-3
    %h2.StepTitle Seleccione la cuenta bancaria origen y destino de los fondos
    #content-body
      = form_for(@pago_sumar) do |f|
        .field
          = f.label :cuenta_bancaria_origen
          = f.text_field :cuenta_bancaria_origen
        .field
          = f.label :cuenta_bancaria_detino
          = f.text_field :cuenta_bancaria_detino
  #paso-4
    #content-body
      %h2.StepTitle Resumen
      %p RESUMEN
  /    .actions
  /      = f.submit