#content-header
  %h1 Módulo de pagos
  #action-links
    - if can? :create, PagoSumar
      = link_to '1 - Iniciar proceso de pago', new_pago_sumar_path
      = link_to '2 - Revisar pagos', new_pago_sumar_path
      = link_to '3 - Ingresar pago externo', new_pago_sumar_path
      = link_to '4 - Notificar efectores', new_pago_sumar_path

= render :partial => "shared/info"

#content-body
  %h1 Listado de pagos
  - if @pagos_sumar.size == 0
    No hay pagos registrados
  - else
    %table
      %tr
        %th 
          Proceso de 
          %br
          Pago Nº
        %th Efector
        %th Concepto de facturación
        %th Fecha de proceso
        %th Informado sirge
        %th Notificado
        %th Estado del pago
      - @pagos_sumar.each do |pago_sumar|
        %tr.clickable{ :onclick => "location.href=\'#{pago_sumar_path(pago_sumar)}\'", :title => "Ver detalles del proceso de pago" }
          %td= pago_sumar.numero_de_proceso
          %td= pago_sumar.efector.nombre
          %td= pago_sumar.concepto_de_facturacion.concepto
          %td= pago_sumar.fecha_de_proceso.strftime("%d/%m/%Y")
          %td= pago_sumar.informado_sirge ? "Si" : "No"
          %td= pago_sumar.notificado ? "Si" : "No"
          %td= pago_sumar.estado_del_proceso.nombre
          / %td= link_to 'Edit', edit_pago_sumar_path(pago_sumar)
%br/
