- content_for :title do
  Proceso de pago - SUMAR

#content-header
  %h1 Pagos Sumar - Proceso de pago
  #action-links
    - if can? :read, PagoSumar
      = link_to '<< Volver al listado', pagos_sumar_path
    - if can? :update, PagoSumar
      = link_to 'Modificar datos bancarios', edit_pago_sumar_path(@pago_sumar)
      = link_to 'Notificar transferencia',  notificar_pago_sumar_path(@pago_sumar)

= render :partial => "shared/info", :locals => { :registro => @pago_sumar }

#content-body
  %h3 Resumen del proceso de pago
  %div.field_content
    %span.field_name Efector
    %span.field_value= @pago_sumar.efector.nombre

  %div.field_content
    %span.field_name Concepto de facturación
    %span.field_value= @pago_sumar.concepto_de_facturacion.nombre

  %div.field_content
    %span.field_name Fecha de inicio del proceso 
    %span.field_value= @pago_sumar.fecha_de_proceso

  %h4 Expedientes 
  - @pago_sumar.expedientes_sumar.each do |exp|
    %div.field_content
      %span.field_name= "Exp. Nº "+ exp.numero
      %span.field_value= "$ " + exp.monto_aprobado.to_s
  %h5= "( Total: $ #{@pago_sumar.expedientes_sumar.sum {|e| e.monto_aprobado} } )" 
  %br
  %h4 Notas de Debito aplicadas 
  - if @pago_sumar.aplicaciones_de_notas_de_debito.size > 1
    - @pago_sumar.aplicaciones_de_notas_de_debito.each do |aplicacion|
      %div.field_content
        %span.field_name= link_to "ND. Nº "+ aplicacion.nota_de_debito.numero, aplicacion.nota_de_debito
        %span.field_value= "$ " + aplicacion.monto.to_s
    %h5= "( Total: $ #{@pago_sumar.aplicaciones_de_notas_de_debito.sum(:monto).to_s} )"
  - else
    %div.field_content
      %span.field_value No se aplicaron débitos
  %br
  %h4 Datos de transferencia

  %div.field_content
    %span.field_name Cuenta bancaria origen
    %span.field_value= @pago_sumar.cuenta_bancaria_origen.denominacion

  %div.field_content
    %span.field_name Cuenta bancaria destino
    %span.field_value= @pago_sumar.cuenta_bancaria_destino.denominacion

  %h4 Datos de Procesos

  %div.field_content
    %span.field_name ¿ Se notifico al efector su deposito ? 
    %span.field_value= @pago_sumar.notificado ? "Si" : "No"

  - if @pago_sumar.notificado 
    %div.field_content
      %span.field_name Fecha de notificacion
      %span.field_value= @pago_sumar.fecha_de_notificacion

  %div.field_content
    %span.field_name ¿ Se informó al SIRGE ?
    %span.field_value= @pago_sumar.informado_sirge ? "Si" : "No"

  - if @pago_sumar.informado_sirge
    %div.field_content
      %span.field_name Fecha de informado sirge
      %span.field_value= @pago_sumar.fecha_informado_sirge.strftime("%d/%m/%Y")