- content_for :title do
  Proceso de pago - SUMAR
#content-header
  %h1 Proceso de pago - SUMAR
  #action-links
    = link_to '<< Volver al listado', pagos_sumar_path
    - if can?(:update, PagoSumar)
      = link_to 'Modificar datos bancarios', edit_pago_sumar_path(@pago_sumar)
      = link_to 'Notificar transferencia',  notificar_pago_sumar(@pago_sumar)

= render :partial => "shared/info", :locals => { :registro => @pago_sumar }

belongs_to :efector
  belongs_to :concepto_de_facturacion
  belongs_to :cuenta_bancaria_origen, class_name: "CuentaBancaria", foreign_key: 'cuenta_bancaria_origen_id'
  belongs_to :cuenta_bancaria_destino, class_name: "CuentaBancaria", foreign_key: 'cuenta_bancaria_origen_id'
  belongs_to :estado_del_proceso
  has_many   :expedientes_sumar
  has_many   :aplicaciones_de_notas_de_debito

  # Atributos a ser inicializados/completados deforma automatica
  attr_accessible :fecha_de_proceso, :fecha_informado_sirge, :informado_sirge, :monto
  # Atributos a ser completados por el usuario
  attr_accessible :cuenta_bancaria_origen_id, :cuenta_bancaria_destino_id, :efector_id, :concepto_de_facturacion_id
  # Atributos solo actualizable luego de ser creado
  attr_accessible :notificado, :fecha_de_notificacion


#content-body
  %h2 Entidad
  %div.field_content
    %span.field_name Entidad:
    %span.field_value= @cuenta_bancaria.entidad.entidad_type.underscore.humanize




%p#notice= notice
%p
  %b Efector:
  = @pago_sumar.efector
%p
  %b Concepto de facturacion:
  = @pago_sumar.concepto_de_facturacion
%p
  %b Cuenta bancaria origen:
  = @pago_sumar.cuenta_bancaria_origen
%p
  %b Cuenta bancaria detino:
  = @pago_sumar.cuenta_bancaria_destino
%p
  %b Fecha de proceso:
  = @pago_sumar.fecha_de_proceso
%p
  %b Informado sirge:
  = @pago_sumar.informado_sirge
%p
  %b Fecha informado sirge:
  = @pago_sumar.fecha_informado_sirge
%p
  %b Notificado:
  = @pago_sumar.notificado
%p
  %b Fecha de notificacion:
  = @pago_sumar.fecha_de_notificacion
= link_to 'Edit', ()
|
\#{}
