<p id="notice"><%= notice %></p>

<p>
  <b>Efector:</b>
  <%= @pago_sumar.efector %>
</p>

<p>
  <b>Concepto de facturacion:</b>
  <%= @pago_sumar.concepto_de_facturacion %>
</p>

<p>
  <b>Cuenta bancaria origen:</b>
  <%= @pago_sumar.cuenta_bancaria_origen %>
</p>

<p>
  <b>Cuenta bancaria detino:</b>
  <%= @pago_sumar.cuenta_bancaria_destino %>
</p>

<p>
  <b>Fecha de proceso:</b>
  <%= @pago_sumar.fecha_de_proceso %>
</p>

<p>
  <b>Informado sirge:</b>
  <%= @pago_sumar.informado_sirge %>
</p>

<p>
  <b>Fecha informado sirge:</b>
  <%= @pago_sumar.fecha_informado_sirge %>
</p>

<p>
  <b>Notificado:</b>
  <%= @pago_sumar.notificado %>
</p>

<p>
  <b>Fecha de notificacion:</b>
  <%= @pago_sumar.fecha_de_notificacion %>
</p>


<%= link_to 'Edit', edit_pago_sumar_path(@pago_sumar) %> |
<%= link_to 'Back', pagos_sumar_path %>
