- content_for :title do
  Resultados de la búsqueda

#content-header
  %h1 Resultados de la búsqueda

#content-body
  %h2.first-header Registros coincidentes

  - if @registros_coincidentes > 0
    La búsqueda devolvió
    = @registros_coincidentes
    - if @registros_coincidentes == 1
      registro coincidente en
    - else
      registros coincidentes en
    = ("%.2f" % @tiempo_de_busqueda).gsub('.', ',')
    segundos
    #resultados
      - @resultados_de_busqueda.each do |r|
        - if r.modelo_type == "Afiliado"
          %div.afiliados
            %span.titulo= link_to r.titulo, eval(r.modelo_type.underscore + "_path(" + r.modelo_id.to_s + ")")
            %br/
            = sanitize r.texto
            %div
              = r.instancia.activo ? "Activo" : "Inactivo" 
              |
              = r.instancia.cobertura_efectiva_basica ? "C.E.B." : ""
              |
              = r.instancia.sexo.nombre
              |
              = link_to "Modificar", new_modificacion_novedades_de_los_afiliados_path(:afiliado_id => r.modelo_id.to_s)
              |
              = link_to "Solicitar baja", new_baja_novedades_de_los_afiliados_path(:afiliado_id => r.modelo_id.to_s)
              |
              = link_to "Agregar Prestación", "#"
        - elsif r.modelo_type == "Prestaciones"
          %div.prestaciones
            %span.titulo= link_to r.titulo, eval(r.modelo_type.underscore + "_path(" + r.modelo_id.to_s + ")")
            %br/
            = sanitize r.texto
            %div
              Estado de la preacion (aprobado o en verificacion)
              | 
              = r.instancia.sexo.nombre
              |
              = link_to "Modificar", "#"
              |
              = link_to "Solicitar baja", "#"
        - else # Otro tipo de registro, ni prestación ni afiliado.
          %div.afiliados
            %span.titulo= link_to r.titulo, eval(r.modelo_type.underscore + "_path(" + r.modelo_id.to_s + ")")
            %br/
            = sanitize r.texto
      = will_paginate @resultados_de_busqueda, :inner_window => 2, :outer_window => 0
  - else
    No se encontraron resultados que coincidan con los criterios de búsqueda que ingresó.
