<p id="notice"><%= notice %></p>

<p>
  <b>Liquidacion sumar anexo administrativo:</b>
  <%= @anexo_administrativo_prestacion.liquidacion_sumar_anexo_administrativo %>
</p>

<p>
  <b>Prestaciones liquidadas:</b>
  <%= @anexo_administrativo_prestacion.prestaciones_liquidadas %>
</p>

<p>
  <b>Estado de la prestacion:</b>
  <%= @anexo_administrativo_prestacion.estado_de_la_prestacion %>
</p>

<p>
  <b>Motivos de rechazos:</b>
  <%= @anexo_administrativo_prestacion.motivos_de_rechazos %>
</p>


<%= link_to 'Edit', edit_anexo_administrativo_prestacion_path(@anexo_administrativo_prestacion) %> |
<%= link_to 'Back', anexos_administrativos_prestaciones_path %>
