= form_for(@novedad, |
  :url => (@novedad.persisted? ? update_alta_novedad_del_afiliado_url : create_alta_novedades_de_los_afiliados_url)) do |f| |

  %h3 Tipo de solicitud
  %div.field_content
    %span.field_value Solicitud de alta de beneficiario

  %h3 Datos personales
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_apellido", :name => "novedad_del_afiliado[apellido]", :type => "hidden", |
      :value => @novedad.apellido } |
  %div.field_content
    %span.field_name Apellido
    %span.field_value= @novedad.apellido
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_nombre", :name => "novedad_del_afiliado[nombre]", :type => "hidden", |
      :value => @novedad.nombre } |
  %div.field
    %span.field_name Nombre
    %span.field_value= @novedad.nombre
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_clase_de_documento_id", :name => "novedad_del_afiliado[clase_de_documento_id]", |
      :type => "hidden", :value => @novedad.clase_de_documento_id } |
  %div.field_content
    %span.field_name Clase de documento
    %span.field_value= @novedad.clase_de_documento.nombre
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_tipo_de_documento_id", :name => "novedad_del_afiliado[tipo_de_documento_id]", |
      :type => "hidden", :value => @novedad.tipo_de_documento_id } |
  %div.field
    %span.field_name Tipo de documento
    %span.field_value= @novedad.tipo_de_documento.nombre
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_numero_de_documento", :name => "novedad_del_afiliado[numero_de_documento]", |
      :type => "hidden", :value => @novedad.numero_de_documento } |
  %div.field
    %span.field_name Número de documento
    %span.field_value= @novedad.numero_de_documento
  %div.field
    = f.label :numero_de_celular
    = f.text_field :numero_de_celular
  %div.field
    = f.label :e_mail
    = f.email_field :e_mail

  %h3 Datos de nacimiento, sexo, origen y estudios
  %div.field
    = f.label :sexo_id, "Sexo*"
    = f.select :sexo_id, options_for_select(@sexos, @novedad.sexo_id), {:include_blank => true}
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_fecha_de_nacimiento_3i", :name => "novedad_del_afiliado[fecha_de_nacimiento(3i)]", |
      :type => "hidden", :value => @novedad.fecha_de_nacimiento.strftime("%d") } |
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_fecha_de_nacimiento_2i", :name => "novedad_del_afiliado[fecha_de_nacimiento(2i)]", |
      :type => "hidden", :value => @novedad.fecha_de_nacimiento.strftime("%m") } |
  %div.hidden_field
    %input{ :id => "novedad_del_afiliado_fecha_de_nacimiento_1i", :name => "novedad_del_afiliado[fecha_de_nacimiento(1i)]", |
      :type => "hidden", :value => @novedad.fecha_de_nacimiento.strftime("%Y") } |
  %div.field
    %span.field_name Fecha de nacimiento
    %span.field_value= @novedad.fecha_de_nacimiento.strftime("%d/%m/%Y")
  %div.field
    = f.label :es_menor, :title => "Marcar esta opción si a la fecha de inscripción o modificación aún no cumple los " + |
      Parametro.valor_del_parametro(:edad_limite_para_exigir_adulto_responsable).to_s + " años." |
    -
    = f.check_box :es_menor, :title => "Marcar esta opción si a la fecha de inscripción o modificación aún no cumple los " + |
      Parametro.valor_del_parametro(:edad_limite_para_exigir_adulto_responsable).to_s + " años." |
  %div.field
    = f.label :pais_de_nacimiento_id
    = f.select :pais_de_nacimiento_id, options_for_select(@paises, @novedad.pais_de_nacimiento_id), |
      {:include_blank => true} |
  %div.field
    = f.label :se_declara_indigena
    = f.check_box :se_declara_indigena
  #originarios
    %div.field
      = f.label :lengua_originaria_id
      = f.select :lengua_originaria_id, |
        options_for_select(@lenguas_originarias, @novedad.lengua_originaria_id), |
        {:include_blank => true} |
    %div.field
      = f.label :tribu_originaria_id
      = f.select :tribu_originaria_id, |
        options_for_select(@tribus_originarias, @novedad.tribu_originaria_id), |
        {:include_blank => true} |
  %div.field
    = f.label :alfabetizacion_del_beneficiario_id
    = f.select :alfabetizacion_del_beneficiario_id, |
      options_for_select(@niveles_de_instruccion, @novedad.alfabetizacion_del_beneficiario_id), |
      {:include_blank => true} |
  #alfab_benef.field
    = f.label :alfab_beneficiario_anios_ultimo_nivel
    = f.number_field :alfab_beneficiario_anios_ultimo_nivel, :size => 3

  %h3.header-with-note Datos de domicilio
  %p.note Complete al menos la calle ó manzana, el número, el departamento y distrito de residencia
  %div.field
    = f.label :domicilio_calle
    = f.text_field :domicilio_calle, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_numero
    = f.text_field :domicilio_numero, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_piso
    = f.text_field :domicilio_piso, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_depto
    = f.text_field :domicilio_depto, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_manzana
    = f.text_field :domicilio_manzana, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_entre_calle_1
    = f.text_field :domicilio_entre_calle_1, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_entre_calle_2
    = f.text_field :domicilio_entre_calle_2, :style => "text-transform: uppercase;"
  %div.field
    = f.label :telefono
    = f.text_field :telefono, :style => "text-transform: uppercase;"
  %div.field
    = f.label :otro_telefono
    = f.text_field :otro_telefono, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_departamento_id, "Departamento*"
    = f.select :domicilio_departamento_id, options_for_select(@departamentos, @novedad.domicilio_departamento_id), |
      {:include_blank => true} |
  #select_distritos.field
    = f.label :domicilio_distrito_id, "Distrito*"
    = f.select :domicilio_distrito_id, options_for_select(@distritos, @novedad.domicilio_distrito_id), |
      {:include_blank => true} |
  %div.field
    = f.label :domicilio_barrio_o_paraje
    = f.text_field :domicilio_barrio_o_paraje, :style => "text-transform: uppercase;"
  %div.field
    = f.label :domicilio_codigo_postal
    = f.text_field :domicilio_codigo_postal, :style => "text-transform: uppercase;"
  %h4 Observaciones
  %div.field
    = f.text_area :observaciones, :size => "80x8"

  %h3 Lugar de atención habitual
  %div.field
    = f.select :lugar_de_atencion_habitual_id, options_for_select(@efectores, @novedad.lugar_de_atencion_habitual_id), |
      {:include_blank => true} |

  #es_menor
    %h3.header-with-note Datos del adulto responsable
    %p.note Debe completar todos los datos de al menos uno de los adultos responsables (madre, padre o tutor/tutora)

    %h4 Datos de la madre
    %div.field
      = f.label :apellido_de_la_madre
      = f.text_field :apellido_de_la_madre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :nombre_de_la_madre
      = f.text_field :nombre_de_la_madre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :tipo_de_documento_de_la_madre_id
      = f.select :tipo_de_documento_de_la_madre_id, |
        options_for_select(@tipos_de_documentos, @novedad.tipo_de_documento_de_la_madre_id), |
        {:include_blank => true} |
    %div.field
      = f.label :numero_de_documento_de_la_madre
      = f.text_field :numero_de_documento_de_la_madre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :alfabetizacion_de_la_madre_id
      = f.select :alfabetizacion_de_la_madre_id, |
        options_for_select(@niveles_de_instruccion, @novedad.alfabetizacion_de_la_madre_id), |
        {:include_blank => true} |
    #alfab_madre.field
      = f.label :alfab_madre_anios_ultimo_nivel
      = f.number_field :alfab_madre_anios_ultimo_nivel, :size => 3
    %h4 Datos del padre
    %div.field
      = f.label :apellido_del_padre
      = f.text_field :apellido_del_padre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :nombre_del_padre
      = f.text_field :nombre_del_padre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :tipo_de_documento_del_padre_id
      = f.select :tipo_de_documento_del_padre_id, |
        options_for_select(@tipos_de_documentos, @novedad.tipo_de_documento_del_padre_id), |
        {:include_blank => true} |
    %div.field
      = f.label :numero_de_documento_del_padre
      = f.text_field :numero_de_documento_del_padre, :style => "text-transform: uppercase;"
    %div.field
      = f.label :alfabetizacion_del_padre_id
      = f.select :alfabetizacion_del_padre_id, |
        options_for_select(@niveles_de_instruccion, @novedad.alfabetizacion_del_padre_id), |
        {:include_blank => true} |
    #alfab_padre.field
      = f.label :alfab_padre_anios_ultimo_nivel
      = f.number_field :alfab_padre_anios_ultimo_nivel, :size => 3
    %h4 Datos de la tutora o tutor
    %div.field
      = f.label :apellido_del_tutor
      = f.text_field :apellido_del_tutor, :style => "text-transform: uppercase;"
    %div.field
      = f.label :nombre_del_tutor
      = f.text_field :nombre_del_tutor, :style => "text-transform: uppercase;"
    %div.field
      = f.label :tipo_de_documento_del_tutor_id
      = f.select :tipo_de_documento_del_tutor_id, |
        options_for_select(@tipos_de_documentos, @novedad.tipo_de_documento_del_tutor_id), |
        {:include_blank => true} |
    %div.field
      = f.label :numero_de_documento_del_tutor
      = f.text_field :numero_de_documento_del_tutor, |
        :style => "text-transform: uppercase;" |
    %div.field
      = f.label :alfabetizacion_del_tutor_id
      = f.select :alfabetizacion_del_tutor_id, |
        options_for_select(@niveles_de_instruccion, @novedad.alfabetizacion_del_tutor_id), |
        {:include_blank => true} |
    #alfab_tutor.field
      = f.label :alfab_tutor_anios_ultimo_nivel
      = f.number_field :alfab_tutor_anios_ultimo_nivel, :size => 3

  #embarazo
    %h3 Datos del embarazo
    %div.field
      = f.label :esta_embarazada, :title => "Marcar esta opción si a la fecha de inscripción o modificación cursaba un embarazo."
      = f.check_box :esta_embarazada, |
        :title => "Marcar esta opción si a la fecha de inscripción o modificación cursaba un embarazo." |
    #esta_embarazada
      %div.field
        = f.label :fecha_de_la_ultima_menstruacion
        = f.date_select :fecha_de_la_ultima_menstruacion, {:start_year => 2001, :end_year => Date.today.year, |
          :include_blank => true} |
      %div.field
        = f.label :fecha_de_diagnostico_del_embarazo
        = f.date_select :fecha_de_diagnostico_del_embarazo, {:start_year => 2001, :end_year => Date.today.year, |
          :include_blank => true} |
      %div.field
        = f.label :semanas_de_embarazo
        = f.number_field :semanas_de_embarazo, :size => 3
      %div.field
        = f.label :fecha_probable_de_parto
        = f.date_select :fecha_probable_de_parto, {:start_year => 2001, :end_year => Date.today.year + 1, :include_blank => true}
      %div.field
        = f.label :fecha_efectiva_de_parto
        = f.date_select :fecha_efectiva_de_parto, {:start_year => 2001, :end_year => Date.today.year, :include_blank => true}

  %h3 Remediar+Redes
  %div.field
    = f.label :score_de_riesgo
    = f.number_field :score_de_riesgo, :size => 3

  %h3 Discapacidad
  %div.field
    = f.label :discapacidad_id
    = f.select :discapacidad_id, options_for_select(@discapacidades, @novedad.discapacidad_id), {:include_blank => true}

  %h3 Fecha y centro inscriptor
  %div.field
    = f.label :fecha_de_la_novedad
    = f.date_select :fecha_de_la_novedad, {:start_year => Date.today.year - 1, :end_year => Date.today.year, |
      :include_blank => true} |
  %div.field
    = f.label :centro_de_inscripcion_id
    = f.select :centro_de_inscripcion_id, options_for_select(@centros_de_inscripcion, @novedad.centro_de_inscripcion_id), |
      {:include_blank => true} |
  %div.field
    = f.label :nombre_del_agente_inscriptor
    = f.text_field :nombre_del_agente_inscriptor, :style => "text-transform: uppercase;"

  %h3 Observaciones generales
  %div.field
    = f.text_area :observaciones_generales, :size => "80x8"

  %div.actions
    - if @novedad.new_record?
      = f.submit "Crear la solicitud"
      = link_to "Cancelar", @afiliado
    - else
      = f.submit "Modificar la solicitud"
      = link_to "Cancelar", @novedad
