- content_for :title do
  Solicitudes de inscripción, modificación de datos y bajas

#content-header
  %h1 Solicitudes de inscripción, modificación de datos y bajas

= render "shared/info"

#content-body
  %h2.first-header Listado de solicitudes registradas

  %table
    %thead
      %tr
        %th Tipo
        %th Estado
        %th Beneficiario
        %th Última modificación
    %tbody
      - @novedades.each do |n|
        %tr.clickable{ :onclick => "location.href=\'#{novedad_del_afiliado_path(n)}\'", :title => "Ver detalles de la solicitud" }
          %td= n.tipo_de_novedad.nombre
          %td= n.estado_de_la_novedad.nombre
          %td= n.apellido.to_s + ", " + n.nombre.to_s
          %td= n.updated_at.strftime("%d/%m/%Y %H:%M:%S")
  = will_paginate @novedades, :inner_window => 2, :outer_window => 0
