- content_for :title do
  Detalle de la solicitud

#content-header
  %h1 Detalle de la solicitud
  - if can?(:update, @novedad) && @novedad.pendiente?
    #action-links
      = link_to "Modificar la solicitud", edit_novedad_del_afiliado_path(@novedad)
      = link_to "Anular la solicitud", @novedad, :method => :delete, |
        :confirm => "¿Está seguro que desea anular esta solicitud?\nEsta acción no se podrá deshacer." |

= render :partial => "shared/info", :locals => { :registro => @novedad }

#content-body
  %h2.first-header Información de la solicitud registrada

  - case
    - when @novedad.tipo_de_novedad_id == 1
      = render :partial => "show_alta"
    - when @novedad.tipo_de_novedad_id == 2
      = render :partial => "show_baja"
    - when @novedad.tipo_de_novedad_id == 3
      = render :partial => "show_modificacion"
