= form_for(@concepto_de_facturacion) do |f|
  .field
    = f.label :concepto
    = f.text_field :concepto
  .field
    = f.label :descripcion
    = f.text_field :descripcion
  .field
    = f.label :prestaciones, "Prestaciones incluidas en este concepto:"
    = collection_select :concepto_en_prestaciones, :id, @prestaciones, :id, :nombre,{:selected => @prestaciones_ids}, {multiple: true, size: 5, style: 'width: 100%', class:'multi_select'}
  .actions
    = f.submit

