- content_for :title do
  Liquidaciones - Ver - Conceptos de Facturacion 

#content-header
  %h1 Concepto de Facturacion
  #action-links
    - if can? :read, ConceptoDeFacturacion
      = link_to '<< Volver al listado', conceptos_de_facturacion_path
    - if can? :update, ConceptoDeFacturacion
      = link_to 'Editar', edit_concepto_de_facturacion_path(@concepto_de_facturacion)
    - if can? :manage, DocumentoGenerablePorConcepto
      = link_to 'Documentos Generables', concepto_de_facturacion_documentos_generables_por_conceptos_path(@concepto_de_facturacion)
    - if can? :manage, MovimientoBancarioAutorizado
      = link_to 'Movimientos bancarios autorizados', concepto_de_facturacion_movimientos_bancarios_autorizados_path(@concepto_de_facturacion)

= render :partial => "shared/info", :locals => { :registro => @concepto_de_facturacion }

#content-body
  %div.field_content
    %span.field_name Concepto:
    %span.field_value= @concepto_de_facturacion.concepto
  %div.field_content
    %span.field_name Descripción:
    %span.field_value= @concepto_de_facturacion.descripcion
  %div.field_content
    %span.field_name Formula:
    %span.field_value= @concepto_de_facturacion.formula.descripcion if @concepto_de_facturacion.formula.present?
  %div.field_content
    %span.field_name Tipo de expedientes:
    %span.field_value= @concepto_de_facturacion.tipo_de_expediente.nombre if @concepto_de_facturacion.tipo_de_expediente.present?
  %table
    %tr
      %th Prestacion
      %th Codigo
    - @concepto_de_facturacion.prestaciones.each do |prest|
      %tr
        %td= prest.nombre
        %td= prest.codigo
  %br
  %table
    %tr
      %th Periodo
      %th Tipo
      %th Fecha de recepcion
      %th Fecha de cierre
    - @concepto_de_facturacion.periodos.each do |peri|
      %tr
        %td= peri.periodo
        %td= peri.tipo_periodo.descripcion
        %td= peri.fecha_recepcion
        %td= peri.fecha_cierre

