- content_for :title do
  Creación de un nuevo Organismo Gubernamental

- content_for :other_includes do
  = javascript_include_tag 'jquery.chained'
  = javascript_include_tag "organismos_gubernamentales"
#content-header
  %h1 Creación de un nuevo Organismo Gubernamental
  #action-links
    = link_to '<< Volver al listado', organismos_gubernamentales_path

= render :partial => "shared/info", :locals => { :registro => @organismo_gubernamental }

#content-body
  %h2.first-header-with-note Formulario de creación de un Organismo Gubernamental

  = render 'form'


