%div.field  
  = p.label(:nombre)
  = p.text_field(:nombre) 

%div.field_content
  = p.label(:nombre_largo) 
  = p.text_field(:nombre_largo)

%div.field_content
  = p.label(:pais_bio_id)
  = p.text_field(:pais_bio_id)
