- content_for :title do
  Paises

#content-header
  %h1 Paises
  #action-links
    = link_to "Nuevo Pais", :action => "new"

-# Sidebar
#content-header
  #action-links
    = link_to "Listar Paises", :controller => "paises", :action => "index"
    = link_to "Listar Provincias", :controller => "provincias", :action => "index"
    = link_to "Listar Departamentos", :controller => "departamentos", :action => "index"
    = link_to "Listar Distritos", :controller => "distritos", :action => "index"

#content-body
  %h2.first-header Listado Paises
  %table
    %thead
      %tr
        %th Id
        %th Nombre
        %th Nombre Largo
        %th{:colspan=>2} Acciones
    %tbody
      - @paises.each do |p|
        %tr
          %td= p.id
          %td= p.nombre
          %td= p.nombre_largo
          %td= link_to "Ver", :controller => "paises", :action => "show", :id => p.id
          %td= link_to "Editar", :controller => "paises", :action => "edit", :id => p.id
  = will_paginate @paises, :inner_window => 2, :outer_window => 0

          


