- content_for :title do
  Informes de Rendición y Compras

#content-header
  %h1 Informes de Rendición y Compras
  #action-links
    - if can? :create, InformeDeRendicion
      = link_to 'Nuevo informe', 'informes_de_rendicion/new'

= render :partial => "shared/info"

#content-body
  %h2.first-header Listado de Informes de Rendición y Compras

  %table
    %thead
      %tr
        %th Inicio
        %th Última modificación
        %th Número
    %tbody
      - @informes_de_rendicion.each do |a|
        %tr.clickable{ :onclick => "location.href=\'#{informes_de_rendicion_path(a)}\'", :title => "Ver detalles de informe" }
          %td= a.fecha_informe.strftime("%d/%m/%Y")
          %td= a.total.blank? ? "-" : a.total
  = will_paginate @informes_de_rendicion, :inner_window => 2, :outer_window => 0
