<%= form_for(@nomenclador, :url => update_asignar_precios_nomenclador_path) do |f| %>

    <h3>Sección: <%= @grupo_pdss.seccion_pdss.codigo + " - " + @grupo_pdss.seccion_pdss.nombre %></h3>    
    <h4>Grupo: <%= @grupo_pdss.codigo + " - " + @grupo_pdss.nombre %></h4>
    <% @grupo_pdss.prestaciones_pdss.each do |prestacion_pdss| %>
      <hr>
      <p>
        <%= "<b>Línea de cuidado:</b> ".html_safe + prestacion_pdss.linea_de_cuidado.nombre if prestacion_pdss.linea_de_cuidado.present?%>
        <%= "<br /><b>Módulo:</b> ".html_safe + prestacion_pdss.modulo.nombre if prestacion_pdss.modulo.present? %>
        <%= "<br /><b>Tipo de prestación:</b> ".html_safe + prestacion_pdss.tipo_de_prestacion.nombre if prestacion_pdss.tipo_de_prestacion.present? %>
        <%= "<br /><b>Nombre:</b> ".html_safe + prestacion_pdss.nombre %>
        <br /><b>Prestaciones (asignar precios):</b>          
      </p>
      <table>
        <thead>
          <tr>
            <th>Código</th>
            <th>Prestación</th>
            <th>Dato reportable</th>
            <th>Área de prestación</th>
            <th>Adicional por prestación</th>
            <th>Precio por unidad</th>
            <th>Unidad</th>
          </tr>
        </thead>
        <tbody>
          <% 
            prestacion_pdss.prestaciones.each do |prestacion| 
          asignaciones_de_precios = @nomenclador.asignaciones_de_precios.actuales.where(:prestacion_id => prestacion.id)
              asignaciones_de_precios.each do |asignacion_de_precio| 
          %>
            <tr>
              <td><%= asignacion_de_precio.prestacion.codigo %></td>
              <td><%= asignacion_de_precio.prestacion.nombre %></td>
              <td><%= asignacion_de_precio.dato_reportable.nombre if asignacion_de_precio.dato_reportable.present? %></td>
              <td><%= asignacion_de_precio.area_de_prestacion.nombre %></td>
              <td>
                <%= f.fields_for "asignaciones_de_precios_attributes[#{asignacion_de_precio.id}]", asignacion_de_precio do |adp| %>
                  <%= adp.number_field :adicional_por_prestacion, min: "0.00", step: "0.01" %>           
                <% end %>                 
                <%= f.hidden_field("asignaciones_de_precios_attributes[#{asignacion_de_precio.id}][id]", :value => asignacion_de_precio.id) %>
                <%= f.hidden_field("asignaciones_de_precios_attributes[#{asignacion_de_precio.id}][prestacion_id]", :value => prestacion.id) %>
              </td>
              <td>
                <%= f.fields_for "asignaciones_de_precios_attributes[#{asignacion_de_precio.id}]", asignacion_de_precio do |adp| %>
                  <%= adp.number_field :precio_por_unidad, min: "0.01", step: "0.01" %>
                <% end %> 
              </td>
              <td><%= asignacion_de_precio.prestacion.unidad_de_medida.nombre.downcase %></td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    <% end %>
  
  <%= f.submit "Actualizar precios" %>

<% end %><!-- /form_for -->