<%= form_for(@expediente_sumar) do |f| %>
  <% if @expediente_sumar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expediente_sumar.errors.count, "error") %> prohibited this expediente_sumar from being saved:</h2>

      <ul>
      <% @expediente_sumar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_area :numero %>
  </div>
  <div class="field">
    <%= f.label :liquidacion_sumar %><br />
    <%= f.text_field :liquidacion_sumar %>
  </div>
  <div class="field">
    <%= f.label :periodo %><br />
    <%= f.text_field :periodo %>
  </div>
  <div class="field">
    <%= f.label :efector %><br />
    <%= f.text_field :efector %>
  </div>
  <div class="field">
    <%= f.label :concepto_de_facturacion %><br />
    <%= f.text_field :concepto_de_facturacion %>
  </div>
  <div class="field">
    <%= f.label :tipo_de_expediente %><br />
    <%= f.text_field :tipo_de_expediente %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
