= form_for(@carga_masiva) do |f|

  %h3.first-header Datos de la carga efecturada
  %div.field_content
    - if !@carga_masiva.new_record?
      %span.field_name Número de identificación
      %span.field_value= @carga_masiva.numero.nil? ? "No asignado" : @carga_masiva.numero    
  %div.field_content
    - if !@carga_masiva.new_record?
      %span.field_name Usuario de carga
      %span.field_value=  @carga_masiva.user.nil? ? "No asignado" :  @carga_masiva.user.nombre_completo
  %div.field_content
    - if !@carga_masiva.new_record?  
      %span.field_name Estado del proceso
      %span.field_value=  @carga_masiva.estado_del_proceso.nil? ? "No asignado" :  @carga_masiva.estado_del_proceso.nombre
  %div.field_content
    - if !@carga_masiva.new_record?
      %span.field_name Fecha de proceso
      %span.field_value=  @carga_masiva.fecha_del_proceso.nil? ? "No asignado" :  @carga_masiva.fecha_del_proceso
  %h3 Archivos subidos
  %div.field_content
    - if @carga_masiva.new_record?
      = f.label :archivo, "Seleccione un archivo*"
      = f.file_field :archivo
    - else
      -  if (@carga_masiva.estado_del_proceso.id = EstadosDelProceso::NO_INICIADO)
        %span.field_value=  @carga_masiva.archivo.nil? ? "No asignado" :  @carga_masiva.archivo_file_name
        = f.label :archivo, "Cambiar archivo*"
        = f.file_field :archivo
      - else
        %span.field_value= @carga_masiva.archivo.nil? ? "Sin Archivo" : @carga_masiva.archivo_file_name 
          
  %h3 Datos del registro
  %div.field_content
    - if !@carga_masiva.new_record?
      %span.field_name Fecha de creación
      %span.field_value= @carga_masiva.created_at.nil?  ? "No asignado" : @carga_masiva.created_at
  %div.field_content
    - if !@carga_masiva.new_record?
      %span.field_name Fecha de ultima modificación
      %span.field_value= @carga_masiva.updated_at.nil? ? "No asignado" : @carga_masiva.updated_at

  %h3 Observaciones
  %div.field_content
  = f.text_area :observaciones, :size => "80x5"

  %div.actions
    - if @carga_masiva.new_record?
      = f.submit "Guardar"
      = link_to "Cancelar", cargas_masivas_url
    - else
      = f.submit "Modificar"
      = link_to "Cancelar", @carga_masiva
