- content_for :title do
  Información detallada de la solicitud de adenda sumar

#content-header
  %h1 Información detallada de la solicitud de adenda Sumar
  - if can? :update, @solicitud_addenda
    #action-links 
      - if @VolverLegalOMedica
        = link_to "Volver al listado", solicitudes_addendas_path
      - else
        = link_to "Volver al listado", solicitudes_addendas_path(:convenio_de_gestion_sumar_id =>@solicitud_addenda.convenio_de_gestion_sumar_id) 

      - if @puede_editar
        = link_to "Modificar", edit_solicitud_addenda_path(@solicitud_addenda)
      - if @puede_confirmar_efector == true 
        = link_to "Confirmar solicitud", confirmar_solicitud_solicitud_addenda_path(@solicitud_addenda), method: :post 
      - if @puede_confirmar_tecnica == true 
        = link_to "Aprobación técnica", aprobacion_tecnica_solicitud_addenda_path(@solicitud_addenda), method: :post
      - if @puede_confirmar_legal == true 
        = link_to "Aprobación legal", aprobacion_legal_solicitud_addenda_path(@solicitud_addenda), method: :post
      - if @puede_anular == true 
        = link_to "Anular", anular_solicitud_solicitud_addenda_path(@solicitud_addenda), method: :post  
      - if @puede_generar_documento== true 
        = link_to "Generar documento", solicitud_addenda_path(@solicitud_addenda, :format => :odt)

= render :partial => "shared/info"

#content-body
  %h3 Datos del convenio de gestión Sumar
  %div.field_content
    %span.field_name Solicitud de adenda al convenio de gestión Sumar
    %span.field_value{:style => "background-color: #e0e0e0;"}= @convenio_de_gestion_sumar.numero
    = link_to "Ver detalles del convenio", @convenio_de_gestion_sumar
  %div.field_content
    %span.field_name El convenio pertenece al efector
    %span.field_value{:style => "background-color: #e0e0e0;"}= @convenio_de_gestion_sumar.efector.nombre
    = link_to "Ver detalles del efector", @convenio_de_gestion_sumar.efector

  %h3 Datos de identificación
  %div.field_content
    %span.field_name Número
    - if !@solicitud_addenda.numero.blank?
      %span.field_value= @solicitud_addenda.numero
    - else
      %span.field_empty No se generó el número de solicitud

  %div.field_content
    %span.field_name Estado de la solicitud
    %span.field_value= @solicitud_addenda.estado_solicitud_addenda.nombre
   

  %div.field_content
    %span.field_name Fecha de solicitud
    - if @solicitud_addenda.fecha_solicitud
      %span.field_value= @solicitud_addenda.fecha_solicitud.strftime("%d/%m/%Y")

  %div.field_content
    %span.field_name Fecha de revisión técnica
    - if @solicitud_addenda.fecha_revision_medica
      %span.field_value= @solicitud_addenda.fecha_revision_medica.strftime("%d/%m/%Y")
    - else
      %span.field_empty No se realizó la revision del area técnica

  %div.field_content
    %span.field_name Fecha de revisión Legal
    - if @solicitud_addenda.fecha_revision_legal
      %span.field_value= @solicitud_addenda.fecha_revision_legal.strftime("%d/%m/%Y")
    - else
      %span.field_empty No se aprobó la solicitud por el area legal
    


  %h3 Datos del firmante y fechas de la adenda
  %div.field_content
    %span.field_name Numero de adenda asociada
    - if !@solicitud_addenda.numero_addenda.blank?
      %span.field_value= @solicitud_addenda.numero_addenda
    - else
      %span.field_empty No se ingreso el número de adenda
  %div.field_content
    %span.field_name Firmante
    - if !@solicitud_addenda.firmante.blank?
      %span.field_value= @solicitud_addenda.firmante
    - else
      %span.field_empty No se ingresó el firmante

  %div.field_content
    %span.field_name Fecha de suscripción
    - if @solicitud_addenda.fecha_de_suscripcion
      %span.field_value= @solicitud_addenda.fecha_de_suscripcion.strftime("%d/%m/%Y")
    - else
      %span.field_empty No se ingresó la fecha de suscripción

  %div.field_content
    %span.field_name Fecha de inicio
    - if @solicitud_addenda.fecha_de_suscripcion
      %span.field_value= @solicitud_addenda.fecha_de_inicio.strftime("%d/%m/%Y")
    - else
      %span.field_empty No se ingresó la fecha de inicio





  %div.field_content
  %h3 Observaciones
  %div.field_content
    - if !@solicitud_addenda.observaciones.blank?
      %span.field_value_multiline
        - @solicitud_addenda.observaciones.split("\n").each do |linea|
          = linea
          %br/
    - else
      %span.field_empty No se han ingresado observaciones para la solicitud de addenda


  - if @solicitud_addenda.solicitudes_addendas_prestaciones_principales.any? then
    %h3 Prestaciones incluidas en la solicitud de adenda
    %table
      %thead
        %tr
          %th Código
          %th Nombre
          %th Solicitud de Adenda
          %th Autorización Técnica
      %tbody
        - @solicitud_addenda.solicitudes_addendas_prestaciones_principales.each do |a|
          %tr
            %td= a.prestacion_principal.codigo
            %td= a.prestacion_principal.nombre
            %td= a.es_autorizacion  ?  "Incorporar" : "Eliminar"
            %td= a.aprobado_por_medica.nil? ? "-" : (a.aprobado_por_medica ? "Incorporar" : "Eliminar") 
  
  
  %div.actions
  #action-links 
    - if @VolverLegalOMedica
      = link_to "Volver al listado", solicitudes_addendas_path
    - else
      = link_to "Volver al listado", solicitudes_addendas_path(:convenio_de_gestion_sumar_id =>@solicitud_addenda.convenio_de_gestion_sumar_id) 
