= form_for(@user_session) do |f|
  .field
    = f.label :login
    %br/
    = f.text_field :login
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .actions
    = f.submit "Iniciar la sesión"
