<!DOCTYPE html>
%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = yield :other_includes
    = csrf_meta_tags
  %body
    #wrapper
      #wrapper-bgbtm
        #header
          #logo

        - if user_signed_in?
          #lupa
            = image_tag "lupa.png", :alt => "Buscar"
          #search 
            %form{:method => 'get', :action => '/busqueda/'} 
              %fieldset
                %input{ |
                  :type => 'text', :name => 'terminos', :id => 'busqueda', |
                  :size => '22', :placeholder => 'Buscar', :value => ''} |
                %input.hidden{:type => 'submit', :id => 'enviar', :value => 'buscar'}
          
          -# NUEVO MENÚ
          %ul{:id => "newmenu"}
            - if can? :read, Afiliado
              %li
                %a.drop{:href => "#"} PADRONES
                %div.dropdown_3columns
                  %div.col_3
                    %h2 Gestión de padrones
                  %div.col_2
                    %h3 PROGRAMA SUMAR
                    %ul
                      - if can? :create, NovedadDelAfiliado
                        %li= link_to "Solicitar un alta de beneficiario", new_alta_novedades_de_los_afiliados_path
                      - if can? :read, NovedadDelAfiliado
                        %li= link_to "Ver las solicitudes registradas", novedades_de_los_afiliados_path
                  %div.col_1
                    %h3 P.U.C.O.
                    %ul
                      %li= link_to "Buscar afiliado", "#", {:title => "En preparación... Aún no está disponible."}

            - if can? :read, Efector
              %li
                %a.drop{:href => "#"} EFECTORES
                %div.dropdown_2columns
                  %div.col_2
                    %h2 Gestión de efectores y convenios
                  %div.col_2
                    %h3 EFECTORES, CONVENIOS Y ADENDAS
                    %ul
                      %li= link_to "Efectores", efectores_url
                      - if can? :read, ConvenioDeGestion
                        %li= link_to "Convenios de gestión", convenios_de_gestion_url
                      - if can? :read, ConvenioDeAdministracion
                        %li= link_to "Convenios de administración", convenios_de_administracion_url
                      - if can? :read, Addenda
                        %li= link_to "Adendas", addendas_url

            - if can? :read, Liquidacion
              %li
                %a.drop{:href => "#"} LIQUIDACIONES
                %div.dropdown_3columns
                  %div.col_3
                    %h2 Gestión de cuasifacturas y liquidaciones
                  %div.col_2
                    %h3 LIQUIDACIONES Y CUASIFACTURAS
                    %ul
                      %li= link_to "Liquidaciones", liquidaciones_url
                      %li= link_to "Cuasifacturas", cuasi_facturas_url
                  %div.col_1
                    %h3 UTILIDADES
                    %ul
                      %li= link_to "Verificador de liquidaciones", verificador_index_path

            - if can? :read, Contacto
              %li
                %a.drop{:href => "#"} HERRAMIENTAS
                %div.dropdown_2columns
                  %div.col_2
                    %h2 Herramientas y utilidades
                  %div.col_2
                    %h3 LIBRETA DE CONTACTOS
                    %ul
                      %li= link_to "Contactos", contactos_url

            - if current_user.in_group? :coordinacion
              %li
                %a.drop{:href => "#"} INFORMES
                %div.dropdown_2columns
                  %div.col_2
                    %h2 Informes y estadística
                  %div.col_1
                    %h3 BENEFICIARIOS
                    %ul
                      %li= link_to "Beneficiarios activos", informe_de_beneficiarios_activos_url
                  %div.col_2
                    %h3 PLANIFICACIÓN
                    %ul
                      %li= link_to "Tablero de comandos EAI", tablero_de_comandos_alto_impacto_path

            - if current_user.in_group? :administradores
              %li
                %a.drop{:href => "#"} ADMINISTRACION
                %div.dropdown_2columns
                  %div.col_2
                    %h2 Administración del sistema
                  %div.col_1
                    %h3 USUARIOS Y GRUPOS
                    %ul
                      %li= link_to "Gestionar los usuarios", users_url
                      %li= link_to "Gestionar los grupos", "#", { :title => "En preparación... Aún no disponible." }
                    %h3 UADs y CIs
                    %ul
                      %li= link_to "Gestionar las UADs", unidades_de_alta_de_datos_url
                      %li= link_to "Gestionar los CIs", "#", { :title => "En preparación... Aún no disponible." }
                  %div.col_1
                    %h3 TABLAS AUXILIARES
                    %ul
                      %li= link_to "Gestionar tablas auxiliares", "#", { :title => "En preparación... Aún no disponible." }
                    %h3 PROCESOS
                    %ul
                      %li= link_to "Procesos relacionados con padrones", padrones_url                       
                            
            %li.menu_right
              %a.drop{:href => "#"} MI CUENTA
              %div.dropdown_2columns
                %div.col_2
                  %h2= (current_user.nombre + " " + current_user.apellido).mb_chars.titleize.to_s
                %div.col_2
                  %h3 DATOS DE LA CUENTA
                  %ul
                    %li= link_to "Modificar los datos de mi cuenta", edit_user_registration_path
                  %h3 SESIÓN ACTUAL
                  %ul
                    %li= link_to "Cerrar la sesión", destroy_user_session_path, :method => :delete
                    - if current_user.unidades_de_alta_de_datos.count > 1
                      %li= link_to "Cambiar la UAD actual", seleccionar_uad_url

        #page
          = yield

        #footer
          
          #pie 
            = image_tag "footer.png"
          %p.primero
            Copyleft 2011,
            = mail_to '"Área de sistemas informáticos, Programa SUMAR Mendoza" <operacionesnacer-salud@mendoza.gov.ar>', |
              "Área de sistemas informáticos, Programa SUMAR Mendoza", :title => "Enviar un mensaje al equipo de desarrollo" |
          %p
            Código fuente disponible en
            %a{ :href => "http://github.com/sbosio/nacer", :onclick => "this.target='_blank'" } 
              GitHub
          %p.licencia
            %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/deed.es", |
              :onclick => "this.target='_blank'"} |
              = ''
              = image_tag "cc_by_sa.png", :alt => "Licencia Creative Commons BY-SA", |
                :title => "Distribuido bajo una licencia Creative Commons Atribución-CompartirIgual 3.0 Unported" |
