%html
  %head
    %title
      = yield :title
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      #wrapper-bgbtm
        #header
          #logo
            %h1 Sistema de gestión del seguro provincial
            %p Plan Nacer Mendoza
          - if current_user then
            #session
              %a{:href => cerrar_sesion_path, :title => "Cerrar sesión"}
                = image_tag "cerrar_sesion.png", :alt => "Cerrar sesión"
              %p
                Usuario:
                %span{:class => "username"}= link_to current_user.firstname + " " + current_user.lastname, edit_user_path(current_user), { :title => "Modificar información de mi cuenta" }
        - if current_user then
          #menu
            %ul
              %li= link_to "Inicio", root_url
              - if can? :read, ConvenioDeGestion then
                %li
                  %p Convenios
                  %ul
                    - if can? :read, Efector then
                      %li= link_to "Efectores", efectores_url
                    - if can? :read, ConvenioDeGestion then
                      %li= link_to "Convenios de gestión", convenios_de_gestion_url
                    - if can? :read, ConvenioDeAdministracion then
                      %li= link_to "Convenios de administración", convenios_de_administracion_url
                    - if can? :read, Addenda then
                      %li= link_to "Adendas", addendas_url
              - if current_user.in_group?(:facturación) then
                %li
                  %p Herramientas
                  %ul
                    %li= link_to "Verificador de liquidaciones", verificador_index_path
              - if current_user.in_group?(:administradores) then
                %li
                  %p Administración
                  %ul
                    %li= link_to "Usuarios", users_url
                    %li= link_to "Grupos", user_groups_url
        #page
          #page-bgtop
            #page-bgbtm
              #content
                = yield
              #sidebar
                - if current_user then
                  #search
                    %h2 Búsqueda
                    %form{:method => 'get', :action => '/busqueda/'}
                      %fieldset
                        %input{:type => 'text', :name => 'terminos', :id => 'busqueda', :size => '15', :value => ''}/
                        %input.hidden{:type => 'submit', :id => 'enviar', :value => 'buscar'}/
                = yield :sidebar
              %div{:style => "clear: both;"}
                &nbsp;
        #footer
          #rails-logo
            %a{ :href => "http://rubyonrails.org/", :onclick => "this.target='_blank'" } 
              = image_tag "rails.png", :alt => "Ruby on Rails"
          #msalud-logo
            %a{ :href => "http://www.salud.mendoza.gov.ar/", :onclick => "this.target='_blank'" } 
              = image_tag "msalud-logo.png", :alt => "Ministerio de Salud - Gobierno de Mendoza"
          %p.primero
            Copyleft 2011,
            = mail_to '"Santiago Bosio" <santiago.bosio@gmail.com>', "Santiago Bosio", :title => "Enviar un mensaje al autor"
            = "- Ing. Técn. en Informática de Sistemas."
          %p.licencia
            %a{:rel => "license", :href => "http://creativecommons.org/licenses/by-sa/3.0/deed.es", :onclick => "this.target='_blank'"}
              = image_tag "cc_by_sa.png", :alt => "Licencia Creative Commons BY-SA", :title => "Distribuido bajo una licencia Creative Commons Atribución-CompartirIgual 3.0 Unported"
